{{ define "page-js" }}

  <!-- Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/static/js/offline/jquery-3.3.1.min.js"></script>
  <script src="/static/js/offline/popper.min.js"></script>
  <script src="/static/js/offline/bootstrap.min.js"></script>

  <!-- DataTables -->
  <script src="/static/js/offline/jquery.dataTables.min.js"></script>
  <script src="/static/js/offline/dataTables.bootstrap4.min.js"></script>

  <!-- Select for DataTables -->
  <script src="/static/js/offline/dataTables.select.min.js"></script>

  <!-- Buttons for DataTables -->
  <script src="/static/js/offline/dataTables.buttons.min.js"></script>

  <!-- Codemirror JS -->
  <script src="/static/js/libs/codemirror/codemirror.js"></script>
  <script src="/static/js/libs/codemirror/addon/active-line.js"></script>
  <script src="/static/js/libs/codemirror/addon/matchbrackets.js"></script>
  <script src="/static/js/libs/codemirror/mode/javascript.js"></script>

  <!-- Select2 JS -->
  <script src="/static/js/offline/select2.min.js"></script>

  <!-- Clipboard.js JS -->
  <script src="/static/js/offline/clipboard.min.js"></script>

  <!-- Highlight.js JS -->
  <script src="/static/js/offline/highlight.min.js"></script>

  <!-- jEditable JS -->
  <script src="/static/js/offline/jquery.jeditable.min.js"></script>

  <!-- CoreUI JS -->
  <script src="/static/js/libs/coreui/coreui.min.js"></script>

  <!-- custom JS -->
  <script src="/static/js/functions.js"></script>
  <script src="/static/js/stats.js"></script>
  <script src="/static/js/settings.js"></script>
  <script src="/static/js/login.js"></script>

{{ end }}
