{{ define "page-aside-left" }}

{{ $leftmeta := .LeftMetadata }}

<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>

      <li class="nav-title">Nodes by environment</li>
      {{range  $i, $e := $.Environments}}
      <li id="dropdown-env-{{ $e.Name }}" class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle">
          <i class="nav-icon {{ $e.Icon }}"></i>
          <input type="hidden" class="stats-environment-value" value="{{ $e.UUID }}">
          {{ $e.Name }}
          <span class="mr-4 badge badge-light stats-environment-{{ $e.UUID }}-total">X</span>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/environment/{{ $e.UUID }}/active">
              <i class="nav-icon {{ $e.Icon }}"></i>
              active
              <span class="badge badge-success stats-environment-{{ $e.UUID }}-active">X</span>
            </a>
          </li>
          {{ if and (eq $e.UUID $leftmeta.EnvUUID) ($leftmeta.ActiveNode) }}
            <ul>
              <li class="nav-item nav-dropdown">
                <a style="padding-left: 2em;" class="nav-link" href="/node/{{ $leftmeta.NodeUUID }}">
                  <i class="nav-icon fas fa-info-circle"></i> node
                </a>
              </li>
            </ul>
          {{end}}
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/environment/{{ $e.UUID }}/inactive">
              <i class="nav-icon {{ $e.Icon }}"></i>
              inactive
              <span class="badge badge-danger stats-environment-{{ $e.UUID }}-inactive">X</span>
            </a>
          </li>
          {{ if and (eq $e.UUID $leftmeta.EnvUUID) ($leftmeta.InactiveNode) }}
            <ul>
              <li class="nav-item nav-dropdown">
                <a style="padding-left: 2em;" class="nav-link" href="/node/{{ $leftmeta.NodeUUID }}">
                  <i class="nav-icon fas fa-info-circle"></i> node
                </a>
              </li>
            </ul>
          {{end}}
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/environment/{{ $e.UUID }}/all">
              <i class="nav-icon {{ $e.Icon }}"></i>
              all
              <span class="badge badge-light stats-environment-{{ $e.UUID }}-total">X</span>
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/conf/{{ $e.UUID }}">
              <i class="nav-icon fas fa-cog"></i>  osquery conf
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/enroll/{{ $e.UUID }}">
              <i class="nav-icon fas fa-plus-circle"></i> enroll nodes
            </a>
          </li>
        {{ if $leftmeta.OsqueryValues.Query }}
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/query/{{ $e.UUID }}/run">
              <i class="nav-icon fab fa-searchengin"></i> run query
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/query/{{ $e.UUID }}/list">
              <i class="nav-icon fas fa-list"></i> query list
            </a>
          </li>
            {{ if and (eq $e.UUID $leftmeta.EnvUUID) ($leftmeta.Query) }}
            <ul>
              <li class="nav-item nav-dropdown">
                <a style="padding-left: 2em;" class="nav-link" href="/query/{{ $e.UUID }}/logs/{{ $leftmeta.QueryName }}">
                  <i class="fas fa-search-location"></i> query
                </a>
              </li>
            </ul>
            {{end}}
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/query/{{ $e.UUID }}/saved">
              <i class="nav-icon far fa-save"></i> saved queries
            </a>
          </li>
        {{ end }}
        {{ if $leftmeta.OsqueryValues.Carve }}
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/carves/{{ $e.UUID }}/run">
              <i class="nav-icon fas fa-file-upload"></i> carve file
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/carves/{{ $e.UUID }}/list">
              <i class="nav-icon fas fa-archive"></i> carved files
            </a>
          </li>
          {{ if and (eq $e.UUID $leftmeta.EnvUUID) ($leftmeta.Carve) }}
            <ul>
              <li class="nav-item nav-dropdown">
                <a style="padding-left: 2em;" class="nav-link" href="/carves/{{ $e.UUID }}/details/{{ $leftmeta.CarveName }}">
                  <i class="fas fa-file-archive"></i> carve
                </a>
              </li>
            </ul>
          {{end}}
        {{ end }}
        </ul>
      </li>
      <li class="divider"></li>
      {{end}}

    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>

{{ end }}
