{{ define "page-aside-right" }}

      <aside class="aside-menu">

      {{ with .Metadata }}

        <div class="tab-pane p-3" role="tablist" style="height: 100%;">
          <h6>Admin Server Settings</h6>
          <div class="aside-options" role="tab">
            <div class="clearfix mt-4">
              <small>
                <button class="btn btn-block btn-sm btn-info" type="button" onclick="window.location = '/settings/admin';">
                  <b>Admin Settings</b>
                </button>
              </small>
            </div>
            <div>
              <small class="text-muted">Settings for the Admin service</small>
            </div>
            <div class="clearfix mt-4">
              <small>
                <button class="btn btn-block btn-sm btn-primary" type="button" onclick="window.location = '/users';">
                  <b>Manage Users</b>
                </button>
              </small>
            </div>
            <div>
              <small class="text-muted">Administer admin service users</small>
            </div>
            <div class="clearfix mt-4">
              <small>
                <button class="btn btn-block btn-sm btn-secondary" type="button" onclick="window.location = '/tags';">
                  <b>Manage Tags</b>
                </button>
              </small>
            </div>
            <div>
              <small class="text-muted">Administer node tags</small>
            </div>
          </div>
          <hr>

          <h6>TLS Server Settings</h6>
          <div class="aside-options">
            <div class="clearfix mt-4">
              <small>
                <button class="btn btn-block btn-sm btn-secondary" type="button" onclick="window.location = '/environments';">
                  <b>Manage Environments</b>
                </button>
              </small>
            </div>
            <div>
              <small class="text-muted">TLS endpoint environments</small>
            </div>
            <div class="clearfix mt-4">
              <small>
                <button class="btn btn-block btn-sm btn-info" type="button" onclick="window.location = '/settings/tls';">
                  <b>TLS Settings</b>
                </button>
              </small>
            </div>
            <div>
              <small class="text-muted">Settings for the TLS service</small>
            </div>
          </div>
          <hr>

          <h6>API Server Settings</h6>
          <div class="aside-options">
            <div class="clearfix mt-4">
              <small>
                <button class="btn btn-block btn-sm btn-info" type="button" onclick="window.location = '/settings/api';">
                  <b>API Settings</b>
                </button>
              </small>
            </div>
            <div>
              <small class="text-muted">Settings for the API service</small>
            </div>
            <hr>
            <div class="server-version">
              <small class="text-muted">{{ .Service }} {{ .Version }}</small>
            </div>
          </div>

        </div>

      {{ end }}

      </aside>

{{ end }}
