{{ define "page-js" }}

  <!-- Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- DataTables -->
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"
  integrity="sha384-r3v0/sXe5ocDydKBFcxP390rex2dEm9qN3Yv68S6uNX/F3b/RtMdGMUADZ8tabkz" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"
  integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX" crossorigin="anonymous"></script>

  <!-- Select for DataTables -->
  <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"
  integrity="sha384-cOjgXKpKZwqHUxQkXUhdnJfrnLtI4RMo71zMDdhSIeb6m1tWreU56MdGcqc8l+HH" crossorigin="anonymous"></script>

  <!-- Buttons for DataTables -->
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"
  integrity="sha384-zOjU8Lmrn7aY/0op2Zr4DRXhg0el3XJ4SEMVakZ7bni+KP5F9geHOJ0cWYSvj0HN" crossorigin="anonymous"></script>

  <!-- Codemirror JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/codemirror.min.js" integrity="sha256-ZhFC2bk5rmESwXRmpuiicOWuYICMJStU3MijQCC3NCc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/addon/selection/active-line.min.js" integrity="sha256-NmQoARC11zW6JtOWBzNWj7w213KCK25Hl3PRPOTF2UA=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/addon/edit/matchbrackets.min.js"
  integrity="sha256-E6SXqOxC0Z+uAGQmS9gr9Furz8Py05kCgC0XZXg9Hdo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/mode/javascript/javascript.min.js" integrity="sha256-9ZcX1x4AXh6TWmoZ0P1ZC4xOsbO901Gl9p8swCucXU4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/mode/sql/sql.min.js"
  integrity="sha256-NQcPngbTZE+zCAVDxB017kj5/DP6axGO3TpEdlmTRlI=" crossorigin="anonymous"></script>

  <!-- Select2 JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js" integrity="sha384-uQwKPrmNkEOvI7rrNdCSs6oS1F3GvnZkmPtkntOSIiPQN4CCbFSxv+Bj6qe0mWDb" crossorigin="anonymous"></script>

  <!-- Clipboard.js JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"
  integrity="sha384-5tfO0soa+FisnuBhaHP2VmPXQG/JZ8dLcRL43IkJFzbsXTXT6zIX8q8sIT0VSe2G" crossorigin="anonymous"></script>

  <!-- Highlight.js JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js" integrity="sha384-BlPof9RtjBqeJFskKv3sK3dh4Wk70iKlpIe92FeVN+6qxaGUOUu+mZNpALZ+K7ya" crossorigin="anonymous"></script>

  <!-- jEditable JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.8/jquery.jeditable.min.js" integrity="sha256-JcqMpXBULNIdyK9wGT3HA4xE7LubsxNExQCW69cGr5U=" crossorigin="anonymous"></script>

  <!-- CoreUI JS -->
  <script src="/static/js/libs/coreui/coreui.min.js"></script>

  <!-- custom JS -->
  <script src="/static/js/functions.js"></script>
  <script src="/static/js/stats.js"></script>
  <script src="/static/js/settings.js"></script>
  <script src="/static/js/login.js"></script>

{{ end }}
