{{ define "page-aside-left" }}

<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

      <!--
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>
      -->

      <li class="nav-title">Nodes by environment</li>
      {{range  $i, $e := $.Environments}}
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle">
          <i class="nav-icon {{ $e.Icon }}"></i>
          <input type="hidden" class="stats-environment-value" value="{{ $e.Name }}">
          {{ $e.Name }}
          <span class="mr-4 badge badge-light stats-environment-{{ $e.Name }}-total">X</span>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/environment/{{ $e.Name }}/active">
              <i class="nav-icon {{ $e.Icon }}"></i>
              active
              <span class="badge badge-success stats-environment-{{ $e.Name }}-active">Y</span>
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/environment/{{ $e.Name }}/inactive">
              <i class="nav-icon {{ $e.Icon }}"></i>
              inactive
              <span class="badge badge-danger stats-environment-{{ $e.Name }}-inactive">Z</span>
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/environment/{{ $e.Name }}/all">
              <i class="nav-icon {{ $e.Icon }}"></i>
              all
              <span class="badge badge-light stats-environment-{{ $e.Name }}-total">X</span>
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/conf/{{ $e.Name }}">
              <i class="nav-icon fas fa-cog"></i> {{ $e.Name }}.conf
            </a>
          </li>
          <li class="nav-item nav-dropdown">
            <a style="padding-left: 2em;" class="nav-link" href="/enroll/{{ $e.Name }}">
              <i class="nav-icon fas fa-plus-circle"></i> enroll nodes
            </a>
          </li>
        </ul>
      </li>
      {{end}}

      <li class="divider"></li>

      <li class="nav-title">Nodes by Platform</li>
      {{range  $i, $e := $.Platforms}}

      <li class="nav-item nav-dropdown">
        <input type="hidden" class="stats-platform-value" value="{{ $e }}">
        <a class="nav-link nav-dropdown-toggle">
          {{if eq $e "ubuntu"}}
            <i class="nav-icon fa fl-ubuntu-inverse"></i>
          {{end}}
          {{if eq $e "darwin"}}
            <i class="nav-icon fa fl-apple"></i>
          {{end}}
          {{if eq $e "windows"}}
            <i class="nav-icon fab fa-windows"></i>
          {{end}}
          {{if eq $e "centos"}}
            <i class="nav-icon fa fl-centos"></i>
          {{end}}
          {{if eq $e "rhel"}}
            <i class="nav-icon fa fl-redhat"></i>
          {{end}}
          {{if eq $e "fedora"}}
            <i class="nav-icon fa fl-centos"></i>
          {{end}}
          {{if eq $e "debian"}}
            <i class="nav-icon fa fl-debian"></i>
          {{end}}
          {{if eq $e "freebsd"}}
            <i class="nav-icon fa fl-freebsd"></i>
          {{end}}
          {{if eq $e "opensuse"}}
            <i class="nav-icon fa fl-opensuse"></i>
          {{end}}
          {{if eq $e "arch"}}
            <i class="nav-icon fa fl-archlinux"></i>
          {{end}}
          {{if eq $e "unknown"}}
            <i class="nav-icon fa fa-question-circle"></i>
          {{end}}
          {{ $e }}
          <span class="mr-4 badge badge-light stats-platform-{{ $e }}-total">X</span>
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a style="padding-left: 2em;" class="nav-link" href="/platform/{{ $e }}/active">
              {{if eq $e "ubuntu"}}
                <i class="nav-icon fa fl-ubuntu-inverse"></i>
              {{end}}
              {{if eq $e "darwin"}}
              <i class="nav-icon fa fl-apple"></i>
              {{end}}
              {{if eq $e "windows"}}
                <i class="nav-icon fab fa-windows"></i>
              {{end}}
              {{if eq $e "centos"}}
                <i class="nav-icon fa fl-centos"></i>
              {{end}}
              {{if eq $e "rhel"}}
                <i class="nav-icon fa fl-redhat"></i>
              {{end}}
              {{if eq $e "fedora"}}
                <i class="nav-icon fa fl-centos"></i>
              {{end}}
              {{if eq $e "debian"}}
                <i class="nav-icon fa fl-debian"></i>
              {{end}}
              {{if eq $e "freebsd"}}
                <i class="nav-icon fa fl-freebsd"></i>
              {{end}}
              {{if eq $e "opensuse"}}
                <i class="nav-icon fa fl-opensuse"></i>
              {{end}}
              {{if eq $e "arch"}}
                <i class="nav-icon fa fl-archlinux"></i>
              {{end}}
              {{if eq $e "unknown"}}
                <i class="nav-icon fa fa-question-circle"></i>
              {{end}}
              active
              <span class="badge badge-success stats-platform-{{ $e }}-active">Y</span>
            </a>
          </li>
          <li class="nav-item">
            <a style="padding-left: 2em;" class="nav-link" href="/platform/{{ $e }}/inactive">
              {{if eq $e "ubuntu"}}
                <i class="nav-icon fa fl-ubuntu-inverse"></i>
              {{end}}
              {{if eq $e "darwin"}}
              <i class="nav-icon fa fl-apple"></i>
              {{end}}
              {{if eq $e "windows"}}
                <i class="nav-icon fab fa-windows"></i>
              {{end}}
              {{if eq $e "centos"}}
                <i class="nav-icon fa fl-centos"></i>
              {{end}}
              {{if eq $e "rhel"}}
                <i class="nav-icon fa fl-redhat"></i>
              {{end}}
              {{if eq $e "fedora"}}
                <i class="nav-icon fa fl-centos"></i>
              {{end}}
              {{if eq $e "debian"}}
                <i class="nav-icon fa fl-debian"></i>
              {{end}}
              {{if eq $e "freebsd"}}
                <i class="nav-icon fa fl-freebsd"></i>
              {{end}}
              {{if eq $e "arch"}}
                <i class="nav-icon fa fl-archlinux"></i>
              {{end}}
              {{if eq $e "opensuse"}}
                <i class="nav-icon fa fl-opensuse"></i>
              {{end}}
              {{if eq $e "unknown"}}
                <i class="nav-icon fa fa-question-circle"></i>
              {{end}}
              inactive
              <span class="badge badge-danger stats-platform-{{ $e }}-inactive">Z</span>
            </a>
          </li>
          <li class="nav-item">
            <a style="padding-left: 2em;" class="nav-link" href="/platform/{{ $e }}/all">
              {{if eq $e "ubuntu"}}
                <i class="nav-icon fa fl-ubuntu-inverse"></i>
              {{end}}
              {{if eq $e "darwin"}}
              <i class="nav-icon fa fl-apple"></i>
              {{end}}
              {{if eq $e "windows"}}
                <i class="nav-icon fab fa-windows"></i>
              {{end}}
              {{if eq $e "centos"}}
                <i class="nav-icon fa fl-centos"></i>
              {{end}}
              {{if eq $e "rhel"}}
                <i class="nav-icon fa fl-redhat"></i>
              {{end}}
              {{if eq $e "fedora"}}
                <i class="nav-icon fa fl-centos"></i>
              {{end}}
              {{if eq $e "debian"}}
                <i class="nav-icon fa fl-debian"></i>
              {{end}}
              {{if eq $e "freebsd"}}
                <i class="nav-icon fa fl-freebsd"></i>
              {{end}}
              {{if eq $e "arch"}}
                <i class="nav-icon fa fl-archlinux"></i>
              {{end}}
              {{if eq $e "opensuse"}}
                <i class="nav-icon fa fl-opensuse"></i>
              {{end}}
              {{if eq $e "unknown"}}
                <i class="nav-icon fa fa-question-circle"></i>
              {{end}}
              all
              <span class="badge badge-light stats-platform-{{ $e }}-total">X</span>
            </a>
          </li>
        </ul>
      </li>
      {{end}}

      <li class="divider"></li>

  {{ with .Metadata }}
    {{ if eq .Level "admin" }}
      <li class="nav-title">On-Demand Queries</li>
      <li class="nav-item">
        <a class="nav-link" href="/query/run">
          <i class="nav-icon fas fa-terminal"></i> Run Query
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/query/list">
          <i class="nav-icon fab fa-searchengin"></i> All Queries
        </a>
      </li>

      <li class="divider"></li>

      <li class="nav-title">File Carving</li>
      <li class="nav-item">
        <a class="nav-link" href="/carves/run">
          <i class="nav-icon fas fa-file-upload"></i> Carve File
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carves/list">
          <i class="nav-icon fas fa-archive"></i> All Carved Files
        </a>
      </li>
    {{ end }}
  {{ end }}

    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>

{{ end }}
