.form-control:focus {
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34, 32, 32, 0.6);
}

.navbar-brand {
  background-image: url("/static/img/brand.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

button.navbar-toggler {
  color: #939faa;
}

button.navbar-toggler:hover {
  color: #454545;
}

table.dataTable tbody tr:hover {
  background-color: #d3d3d3 !important;
}

thead,
th {
  text-align: center;
}

.CodeMirror {
  border-top: 1px solid #c8ced3;
  border-right: 1px solid #c8ced3;
  border-bottom: 1px solid #c8ced3;
  border-left: 1px solid #c8ced3;
}

input[type=text]#query {
  font-family: monospace;
}

.custom-size-btn {
  min-width: 40px;
  max-width: 40px;
}

.navbar {
  opacity: 0.7;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: url("/static/img/circuit.svg");
  background-attachment: fixed;
}

.highlight {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #F0F0F0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.btn-clipboard {
  position: absolute;
  top: 1.1rem;
  right: 1rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: .25rem;
}

.btn-clipboard:hover {
  color: #fff;
  background-color: #027de7;
}

@media (min-width: 768px) {
  .bd-clipboard {
    display: block;
  }
}

.stripes-red {
  color: white;
  background: repeating-linear-gradient(45deg, #ccc, #ccc 10px, #f86c6b 10px, #f86c6b 20px);
}

.stripes-green {
  color: white;
  background: repeating-linear-gradient(45deg, #ccc, #ccc 10px, #4dbd74 10px, #4dbd74 20px);
}

.sidebar .nav-link.active {
  background: #656e75;
}
