{
  "data": [
  {{range  $i, $e := .}}
    {{ if $i }}, {{ end }}
    {
      "created": {
        "display": "{{ pastTimeAgo $e.CreatedAt }}",
        "timestamp": "{{ pastTimestamp $e.CreatedAt }}"
      },
      "message": "{{ $e.Message }}",
      "severity": "{{ $e.Severity }}"
    }
  {{end}}
  ]
}