---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-docstring-first
      - id: requirements-txt-fixer


  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black


  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8


  - repo: https://github.com/PyCQA/pylint
    rev: v2.15.4
    hooks:
      - id: pylint


  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      #  A quick check for the `eval()` built-in function
      - id: python-no-eval
      # A quick check for the deprecated `.warn()` method of python loggers
      - id: python-no-log-warn

  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.2
    hooks:
      - id: go-fmt-import
      - id: go-vet
      - id: go-lint
      - id: go-unit-tests
      - id: gofumpt # requires github.com/mvdan/gofumpt
      - id: go-err-check # requires github.com/kisielk/errcheck
      - id: go-static-check # install https://staticcheck.io/docs/
      #- id: golangci-lint # requires github.com/golangci/golangci-lint
      #  args: [--config=.github/linters/.golangci.yml] # optional
      - id: go-ruleguard # requires https://github.com/quasilyte/go-ruleguard
        args: [rules/rules.go] # required
