<!DOCTYPE html>
<html lang="en">

  {{ template "head" . }}

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    
    {{ template "page-header" . }}
    
    <div class="app-body">
      
      {{ template "page-sidebar" . }}

      <main class="main">
        
        <div class="container-fluid">
          
          <div class="animated fadeIn">

            <div class="card mt-2">
              <div class="card-header">
                <i class="nav-icon fas fa-terminal"></i> Run on-demand queries by target
              </div>
              <div class="card-body">

                <div class="row">
                  
                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card mt-2">
                      <div class="card-header">
                        <i class="fas fa-table"></i> Tables in osquery {{ $.TablesVersion }}:
                        <div class="card-header-actions">
                          <div class="card-header-action">
                            
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div id="osquery_tables" data-spy="scroll" style="height: 380px; overflow: auto; overflow-y: scroll;">
                          <div class="list-group" style="margin-bottom: 2px;">
                          {{range  $i, $e := $.Tables}}
                            <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" onclick="setQuery('SELECT * FROM {{ $e.Name }};');" href="#">
                              {{ $e.Name }}
                              <span>
                              {{range  $ii, $ee := $e.Platforms}}
                                {{if eq $ee "darwin"}}<i class="fa fl-apple"></i>{{end}}
                                {{if eq $ee "windows"}}<i class="fab fa-windows"></i>{{end}}
                                {{if eq $ee "linux"}}<i class="fab fa-linux"></i>{{end}}
                                {{if eq $ee "freebsd"}}<i class="fl-freebsd"></i>{{end}}
                              {{ end }}
                              </span>
                            </a>
                          {{ end }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card mt-2">
                      <div class="card-header">
                        <i class="fas fa-bullseye"></i> Select targets:
                      </div>
                      <div class="card-body">
        
                        <div data-spy="scroll" style="height: 380px; overflow: auto; overflow-y: scroll;">
                          <div class="row">
                            <div class="col-md-12">
                              <form>
                                <div class="form-group row">
                                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <fieldset class="form-group">
                                      <label for="target_context">By Context</label>
                                      <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                        <input id="target_context_switch" class="switch-input" type="checkbox">
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                      </label>
                                      <div id="selector_context" class="input-group">
                                        <span class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="fas fa-server"></i>
                                          </span>
                                        </span>
                                        <select class="form-control" name="target_context" id="target_context" disabled>
                                          <option value=""></option>
                                        {{ range  $i, $e := $.ContextStats }}
                                          <option value="{{ $i }}">{{ $i }} ({{ $e.Total}} nodes)</option>
                                        {{ end }}
                                          <option value="all">all contexts</option>
                                        </select>
                                      </div>
                                      <small class="text-muted">ex. dev</small>
                                    </fieldset>
                                  </div>
                                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <fieldset class="form-group">
                                      <label for="target_platform">By Platform</label>
                                      <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                        <input id="target_platform_switch" class="switch-input" type="checkbox">
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                      </label>
                                      <div id="selector_platform" class="input-group">
                                        <span class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="fas fa-laptop"></i>
                                          </span>
                                        </span>
                                        <select class="form-control" name="target_platform" id="target_platform" disabled>
                                          <option value=""></option>
                                        {{ range  $i, $e := $.PlatformStats }}
                                          <option value="{{ $i }}">{{ $i }} ({{ $e.Total}} nodes)</option>
                                        {{ end }}
                                          <option value="all">all platforms</option>
                                        </select>
                                      </div>
                                      <small class="text-muted">ex. ubuntu</small>
                                    </fieldset>
                                  </div>
                                  <!--
                                  <div class="col-sm-4">
                                    <fieldset class="form-group">
                                      <label>Repeat Every</label>
                                      <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                        <input id="target_interval_switch" class="switch-input" type="checkbox" disabled>
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                      </label>
                                      <div class="input-group">  
                                        <select class="form-control" name="target_interval" id="target_interval" disabled>
                                          <option value="0"></option>
                                          <option value="3600">1 hour</option>
                                          <option value="21600">6 hours</option>
                                          <option value="43200">12 hours</option>
                                          <option value="86400">24 hours</option>
                                        </select>
                                      </div>
                                    </fieldset>
                                  </div>
                                  -->
                                </div>
                                <div class="form-group row">
                                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <fieldset class="form-group">
                                      <label>By node UUID</label>
                                      <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                        <input id="target_uuids_switch" class="switch-input" type="checkbox">
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                      </label>
                                      <div id="selector_uuids" class="input-group">
                                        <span class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="fas fa-fingerprint"></i>
                                          </span>
                                        </span>
                                        <select class="form-control" name="target_uuids[]" id="target_uuids" multiple="multiple" disabled>
                                          <option value=""></option>
                                        {{ range  $i, $e := $.UUIDs }}
                                          <option value="{{ $e }}">{{ $e }}</option>
                                        {{ end }}
                                        </select>
                                      </div>
                                      <small class="text-muted">ex. 11111111-2222-3333-4444-555555555555</small>
                                    </fieldset>
                                  </div>
                                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <fieldset class="form-group">
                                      <label>By node Hostname</label>
                                      <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                                        <input id="target_hosts_switch" class="switch-input" type="checkbox">
                                        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                      </label>
                                      <div id="selector_hosts" class="input-group">
                                        <span class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="fas fa-desktop"></i>
                                          </span>
                                        </span>
                                        <select class="form-control" name="target_hosts[]" id="target_hosts" multiple="multiple" disabled>
                                          <option value=""></option>
                                        {{ range  $i, $e := $.Hosts }}
                                          <option value="{{ $e }}">{{ $e }}</option>
                                        {{ end }}
                                        </select>
                                      </div>
                                      <small class="text-muted">ex. MacBookPro</small>
                                    </fieldset>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                        <input type="hidden" id="csrftoken" value="thisshouldbeatoken">
                    
                      </div>
                    </div>
                  
                  </div>

                </div>

                <div class="card mt-2">
                  <div class="card-header">
                    <span class="icon-osquery">
                      <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> osquery SQL
                      <div class="card-header-actions">
                        <div class="card-header-action">
                          <div class="row">
                            <div class="col-sm-6 mx-auto">
                              <button type="button" class="btn btn-sm btn-outline-dark" 
                              data-toggle="tooltip" data-placement="top" title="Send query" onclick="sendQuery();">
                                <i class="fas fa-search"></i> Query
                              </button>
                            </div>
                            <div class="col-sm-6 mx-auto">
                              <button type="button" class="btn btn-sm btn-outline-danger" 
                              data-toggle="tooltip" data-placement="top" title="Clear query" onclick="clearQuery();">
                                <i class="fas fa-eraser"></i> Clear
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 mx-auto">
                        <form>
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <fieldset class="form-group">
                                
                                <textarea id="query" name="query"></textarea>

                              </fieldset>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-danger" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Something went wrong...</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id="errorModalMessageClient"></p>
                    <p id="errorModalMessageServer"></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-warning" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Action can not be completed</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id="warningModalMessage"></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          
          </div>

        </div>

      </main>
      
      {{ template "page-aside" . }}
      
    </div>

    <!-- Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- CoreUI JS -->
    <script src="/static/js/coreui.min.js"></script>
    <!-- Codemirror JS -->
    <script src="/static/js/codemirror/codemirror.js"></script>
    <script src="/static/js/codemirror/addon/active-line.js"></script>
    <script src="/static/js/codemirror/addon/matchbrackets.js"></script>
    <script src="/static/js/codemirror/mode/sql.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- osctrl JS -->
    <script src="/static/js/functions.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/query.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Enable all tooltips
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Codemirror editor for query
        var editorQuery = CodeMirror.fromTextArea(document.getElementById("query"), {
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true
        });
        editorQuery.setSize("100%", "100%");
        
        // Select2 initialization
        $('#target_platform').select2({
          theme: "classic"
        });
        $('#target_context').select2({
          theme: "classic"
        });
        $('#target_uuids').select2({
          theme: "classic"
        });
        $('#target_hosts').select2({
          theme: "classic"
        });

        // Platform
        $('#target_platform_switch').click(function() {
          $('#target_platform').attr('disabled', !this.checked);
        });
        $('#selector_platform').click(function() {
          if (!$("#target_platform_switch")[0].checked) {
            $("#target_platform_switch").trigger('click');
          }
        });
        // Context
        $('#target_context_switch').click(function() {
          $('#target_context').attr('disabled', !this.checked);
        });
        $('#selector_context').click(function() {
          if (!$("#target_context_switch")[0].checked) {
            $("#target_context_switch").trigger('click');
          }
        });
        // UUIDs
        $('#target_uuids_switch').click(function() {
          $('#target_uuids').attr('disabled', !this.checked);
        });
        $('#selector_uuids').click(function() {
          if (!$("#target_uuids_switch")[0].checked) {
            $("#target_uuids_switch").trigger('click');
          }
        });
        // Hosts
        $('#target_hosts_switch').click(function() {
          $('#target_hosts').attr('disabled', !this.checked);
        });
        $('#selector_hosts').click(function() {
          if (!$("#target_hosts_switch")[0].checked) {
            $("#target_hosts_switch").trigger('click');
          }
        });
      });
    </script>

  </body>
</html>