<!DOCTYPE html>
<html lang="en">

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-sidebar" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">

            <div class="card mt-2">
              <div id="intervals_header" class="card-header">
                <i class="far fa-clock"></i> osquery intervals for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                  <div class="card-header-action">
                    <button id="intervals_save" class="btn btn-sm btn-block btn-dark"
                      data-toggle="tooltip" data-placement="bottom" title="Save Intervals" onclick="saveIntervals();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="col-md-12">
                        <label for="conf_range">Configuration Interval: <b><output id="conf_output">{{ .Environment.ConfigInterval }}</output></b> seconds</label>
                        <input type="range" class="form-control-range" id="conf_range"
                          value="{{ .Environment.ConfigInterval }}" min="10" max="600" step="10"
                          oninput="changeIntervalValue(conf_range, conf_output);">
                        <input id="conf_range_save" type="hidden" value="{{ .Environment.ConfigInterval }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="logging_range">Logging Interval: <b><output id="logging_output">{{ .Environment.LogInterval }}</output></b> seconds</label>
                      <input type="range" class="form-control-range" id="logging_range"
                        value="{{ .Environment.LogInterval }}" min="10" max="600" step="10"
                        oninput="changeIntervalValue(logging_range, logging_output);">
                      <input id="logging_range_save" type="hidden" value="{{ .Environment.LogInterval }}">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="query_range">Query Interval: <b><output id="query_output">{{ .Environment.QueryInterval }}</output></b> seconds</label>
                      <input type="range" class="form-control-range" id="query_range"
                        value="{{ .Environment.QueryInterval }}" min="10" max="300" step="1"
                        oninput="changeIntervalValue(query_range, query_output);">
                      <input id="query_range_save" type="hidden" value="{{ .Environment.QueryInterval }}">
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="card mt-2">
              <div id="configuration_header" class="card-header">
                <i class="far fa-file-alt"></i> osquery configuration for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                  <div class="card-header-action">
                    <button id="json_save" class="btn btn-sm btn-block btn-dark"
                      data-toggle="tooltip" data-placement="bottom" title="Save Changes" onclick="saveConfiguration();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">

                <textarea id="conf" name="conf">{{ .Environment.Configuration }}</textarea>
                <div class="row">
                  <div class="col-md-12">
                    <button id="json_status_color" class="text-left btn btn-sm btn-square btn-block btn-success disabled">
                      <span id="json_status_icon" class="mr-2"><i class="fas fa-check"></i></span>
                      <span id="json_status_text" class="ml-1">Valid JSON</span>
                    </button>
                  </div>
                </div>

              </div>
            </div>

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ template "page-aside" . }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/login.js"></script>
    <script src="/static/js/configuration.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Codemirror editor for configuration
        // JSON validity check when content is changed
        var editorConf = CodeMirror.fromTextArea(document.getElementById("conf"), {
          mode: 'application/json',
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
          readOnly: false
        });
        $('#conf').data('CodeMirrorInstance', editorConf);
        editorConf.on('change', function(_editor){
          $('#configuration_header').addClass("bg-changed");
          var _valid = true;
          try {
            JSON.parse(_editor.getValue());
          } catch (e) {
            // Display error in console
            console.log(e);
            // Display error in status
            var _position = e.toString().split('position ')[1];
            $("#json_status_text").text('Invalid JSON - ' +e+' ('+lineCharPosition(_position)+')');
            $("#json_status_icon").html('<i class="fas fa-times"></i>');
            $("#json_status_color").each(function(){
              $(this).removeClass("btn-success");
              $(this).addClass("btn-danger");
            });
            _valid = false
            // Disable button
            $('#json_save').prop("disabled", true);
            // Position cursor in where the problem is at
          }
          if (_valid) {
            $("#json_status_text").text('Valid JSON');
            $("#json_status_icon").html('<i class="fas fa-check"></i>');
            $("#json_status_color").each(function(){
              $(this).removeClass("btn-danger");
              $(this).addClass("btn-success");
            });
            $('#json_save').prop("disabled", false);
          }
        });
        editorConf.setSize("100%", "100%");

        // Enable all tooltips
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);
      });
    </script>
  </body>
</html>
