<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">


            <div class="card mt-2">
              <div class="card-header">
                <i class="fas fa-tools"></i> All TLS Environments</b>

                  <div class="card-header-actions">
                    <div class="row">
                      <div class="card-header-action mr-3">
                        <button id="environment_add" class="btn btn-sm btn-block btn-dark"
                          data-tooltip="true" data-placement="bottom" title="Add Environment" onclick="createEnvironment();">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>

              </div>

              <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped text-center">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Hostname</th>
                      <th>Debug HTTP?</th>
                      <th>Icon</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {{range  $i, $e := $.Environments}}
                    <tr>
                      <td><b>{{ $e.Name }}</b></td>
                      <td>{{ $e.Type }}</td>
                      <td>
                        <p id="hostname" data-tooltip="true" data-uuid="{{ $e.UUID }}" class="editable-field" role="button" tabindex="0" title="Click to edit...">{{ $e.Hostname }}</p>
                      </td>
                      <td>
                        <label class="switch switch-label switch-pill switch-success switch-sm">
                          <input id="{{ $e.Name }}_debug_check" class="switch-input" type="checkbox" onclick="changeDebugHTTP('{{ $e.Name }}');" {{ if $e.DebugHTTP }} checked {{ end }}>
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </td>
                      <td>{{ $e.Icon }} <i class="{{ $e.Icon }}"></i></td>
                      <td>
                        <button type="button" class="btn btn-sm btn-ghost-danger" onclick="confirmDeleteEnvironment('{{ $e.Name }}');">
                          <i class="far fa-trash-alt"></i>
                        </button>
                        <!-- <button type="button" class="btn btn-sm btn-ghost-info" onclick="">
                          <i class="far fa-eye"></i>
                        </button> -->
                      </td>
                    </tr>
                  {{ end }}
                  </tbody>
                </table>

              </div>
            </div>

            <div class="modal fade" id="createEnvironmentModal" tabindex="-1" role="dialog" aria-labelledby="createEnvironmentModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Create new environment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="environment_name">Name: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="environment_name" id="environment_name" type="text" autocomplete="off"
                          autofocus>
                      </div>
                      <label class="col-md-2 col-form-label" for="environment_host">Hostname: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="environment_host" id="environment_host" type="text" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="environment_type">Type: </label>
                      <div class="col-md-4">
                        <select class="form-control" id="environment_type" name="environment_type">
                          <option value="osquery">osquery</option>
                        </select>
                      </div>
                      <label class="col-md-1 col-form-label" for="environment_icon">Icon: </label>
                      <label class="col-md-1 col-form-label"><i id="environment_show_icon" class="fas fa-wrench"></i></label>
                      <div class="col-md-4">
                        <input class="form-control" name="environment_icon" id="environment_icon" type="text" value="fas fa-wrench">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmCreateEnvironment();">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
      {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/environments.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Editable fields
        $(".editable-field").editable(function(value, settings) {
			    var data = {
            csrftoken: $("#csrftoken").val(),
            action: 'edit',
            uuid: $(this).attr('data-uuid'),
          };
          var type_edit = $(this).attr('id');
          if (type_edit === 'hostname') {
            data.hostname = value;
          }
          console.log(settings);
          sendPostRequest(data, window.location.pathname, '', false);
          return value;
		    }, {
          indicator : "<img src='/static/img/spinner.svg' />",
          type : "text",
          onedit : function() { return true;},
          cancel : 'Cancel',
          cssclass : 'editable-class',
          cancelcssclass : 'btn btn-danger',
          submitcssclass : 'btn btn-success',
          maxlength : 200,
          // select all text
          select : true,
          label : '',
          showfn : function(elem) { elem.fadeIn('slow') },
          submit : 'Save',
          tooltip : "Click to edit...",
          width : 160
        });
        // Update icon on environment creation modal
        $('#environment_icon').on('input', function() {
          $("#environment_show_icon").removeClass();
          $("#environment_show_icon").addClass($('#environment_icon').val());
        });

        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);

        // Focus on input when modal opens
        $("#createEnvironmentModal").on('shown.bs.modal', function(){
          $(this).find('#environment_name').focus();
        });
      });
    </script>
  </body>
</html>
