<!DOCTYPE html>
<html lang="en">

  {{ template "page-head" . }}

  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-6">
          <div class="text-center img-container">
            <img src="/static/img/logo.png" class="img-fluid img-logo" alt="Logo">
          </div>
          <div class="card mx-4 mt-4">
            <div class="card-body p-4">
              <h3>Login</h3>
              <p class="text-muted">get access to {{ .Project }}</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input id="login_user" type="text" class="form-control" placeholder="Username">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input id="login_password" type="password" class="form-control" placeholder="Password">
              </div>

              <button type="button" id="login_button" class="btn btn-block btn-dark" onclick="sendLogin();">Login</button>
            </div>
          </div>

        </div>
      </div>

      <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Something went wrong...</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="errorModalMessageClient"></p>
              <p id="errorModalMessageServer"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/functions.js"></script>

  </body>

</html>
