<!DOCTYPE html>
<html lang="en">
  {{ $metadata := .Metadata }} {{ $leftmeta := .LeftMetadata }} {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed sidebar-lg-show">
    {{ template "page-header" . }}

    <div class="app-body">
      {{ template "page-aside-left" . }}

      <main class="main">
        <div class="container-fluid">
          <div class="animated fadeIn">
            {{ if $leftmeta.OsqueryValues.Query }}
            <div class="card mt-2">
              <div class="card-header"><i class="fab fa-searchengin"></i> Run on-demand queries by target, within <b>{{ $leftmeta.EnvName }}</b></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card mt-2">
                      <div class="card-header">
                        <i class="fas fa-table"></i>
                        <a href="https://osquery.io/schema/{{ $.OsqueryValues.Version }}" target="_blank" rel="noopener noreferrer"> osquery {{ $leftmeta.OsqueryValues.Version }}: </a>
                        <div class="card-header-actions">
                          <div class="card-header-action">
                            <div class="form-inline">
                              <input id="filter-tables" class="form-control" type="text" placeholder="filter" />
                              <select id="select-tables" class="form-control">
                                <option value="filter-all">all</option>
                                <option value="filter-darwin">darwin</option>
                                <option value="filter-windows">windows</option>
                                <option value="filter-linux">linux</option>
                                <option value="filter-freebsd">freebsd</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div id="osquery_tables" data-spy="scroll" style="height: 68vh; overflow: auto; overflow-y: scroll">
                          <div class="list-group" style="margin-bottom: 2px">
                            {{range $i, $e := $.Tables}}
                            <div class="filter-element {{ $e.Filter }}">
                              <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center osquery-table" onclick="setQuery('SELECT * FROM {{ $e.Name }};');" href="#">
                                {{ $e.Name }}
                                <span>
                                  {{range $ii, $ee := $e.Platforms}} {{if eq $ee "darwin"}}<i class="fa fl-apple"></i>{{end}} {{if eq $ee "windows"}}<i class="fab fa-windows"></i>{{end}} {{if eq $ee "linux"}}<i
                                    class="fab fa-linux"></i
                                  >{{end}} {{if eq $ee "freebsd"}}<i class="fl-freebsd"></i>{{end}} {{ end }}
                                </span>
                              </a>
                            </div>
                            {{ end }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="card mt-2">
                      <div class="card-header"><i class="fas fa-bullseye"></i> Select targets:</div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <form>
                              <div class="form-group row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                  <fieldset class="form-group">
                                    <label for="target_env">By Environment:</label>
                                    <div id="selector_env" class="input-group">
                                      <select class="form-control" name="target_env" id="target_env" multiple="multiple">
                                        <option value=""></option>
                                        {{ range $i, $e := $.Environments }}
                                        <option value="{{ $e.Name }}">{{ $e.Name }}</option>
                                        {{ end }}
                                      </select>
                                    </div>
                                    <small class="text-muted">ex. dev</small>
                                  </fieldset>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                  <fieldset class="form-group">
                                    <label for="target_platform">By Platform in <b>{{ $leftmeta.EnvName }}</b>:</label>
                                    <div id="selector_platform" class="input-group">
                                      <select class="form-control" name="target_platform" id="target_platform" multiple="multiple">
                                        <option value=""></option>
                                        {{ range $i, $e := $.Platforms }}
                                        <option value="{{ $e }}">{{ $e }}</option>
                                        {{ end }}
                                        <option value="all_platforms_99">all platforms</option>
                                      </select>
                                    </div>
                                    <small class="text-muted">ex. ubuntu</small>
                                  </fieldset>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                  <fieldset class="form-group">
                                    <label>By node UUID:</label>
                                    <div id="selector_uuids" class="input-group">
                                      <select class="form-control" name="target_uuids[]" id="target_uuids" multiple="multiple">
                                      </select>
                                    </div>
                                    <small class="text-muted">ex. 11111111-2222-3333-4444-555555555555</small>
                                  </fieldset>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                  <fieldset class="form-group">
                                    <label>By node Hostname:</label>
                                    <div id="selector_hosts" class="input-group">
                                      <select class="form-control" name="target_hosts[]" id="target_hosts" multiple="multiple">
                                      </select>
                                    </div>
                                    <small class="text-muted">ex. MacBookPro</small>
                                  </fieldset>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                  <fieldset class="form-group">
                                    <label>By tag:</label>
                                    <div id="selector_tags" class="input-group">
                                      <select class="form-control" name="target_tags[]" id="target_tags" multiple="multiple">
                                        <option value=""></option>
                                        {{ range $i, $e := $.Tags }}
                                        <option value="{{ $e }}">{{ $e }}</option>
                                        {{ end }}
                                      </select>
                                    </div>
                                    <small class="text-muted">ex. tag:engineering</small>
                                  </fieldset>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                  <fieldset class="form-group">
                                    <label for="expiration_hours"><i class="nav-icon fas fa-stopwatch"></i> Query expiration:</label>
                                    <div id="selector_tags" class="input-group">
                                      <div class="input-group">
                                        <select id="expiration_hours" class="form-control">
                                          <option value="6">6 hours</option>
                                          <option value="12">12 hours</option>
                                          <option value="24">24 hours</option>
                                          <option value="48">48 hours</option>
                                          <option value="72">72 hours</option>
                                          <option value="0">No expiration</option>
                                        </select>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mt-2">
                      <div class="card-header">
                        <span class="icon-osquery"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                        osquery SQL
                        <div class="card-header-actions">
                          <div class="card-header-action">
                            <div class="row">
                              <div class="col-sm-6 mx-auto">
                                <button
                                  id="query_button"
                                  type="button"
                                  class="btn btn-sm btn-outline-dark"
                                  data-tooltip="true"
                                  data-placement="top"
                                  title="Send query"
                                  onclick="sendQuery('/query/{{ $leftmeta.EnvUUID }}/run', '/query/{{ $leftmeta.EnvUUID }}/list');">
                                  <i class="fab fa-searchengin"></i> Query
                                </button>
                              </div>
                              <div class="col-sm-6 mx-auto">
                                <button type="button" class="btn btn-sm btn-outline-danger" data-tooltip="true" data-placement="top" title="Clear query" onclick="clearQuery();">
                                  <i class="fas fa-eraser"></i> Clear
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12 mx-auto">
                            <form>
                              <div class="form-group row">
                                <div class="col-sm-12">
                                  <fieldset class="form-group">
                                    <textarea id="query-sql" name="query"></textarea>
                                  </fieldset>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mt-2">
                      <div class="card-header">
                        <i class="nav-icon far fa-save"></i> Save query
                        <div class="card-header-actions">
                          <div class="card-header-action">
                            <div class="row">
                              <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="bottom" title="Save query">
                                <input id="save_query_check" class="switch-input" type="checkbox" onclick="toggleSaveQuery();" />
                                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="collapseName" class="card-body collapse">
                        <div class="row">
                          <div class="col-md-12">
                            <form>
                              <div class="form-group row">
                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                  <fieldset class="form-group">
                                    <label for="save_query_name">Name for the query to be saved:</label>
                                    <div class="input-group">
                                      <input id="save_query_name" class="form-control" type="text" readonly />
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{ else }}
            <div class="card mt-2">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i> On-demand queries not available</h4>
              </div>
            </div>
            {{ end }}

            {{ template "page-modals" . }}
          </div>
        </div>
      </main>

      {{ if $metadata.Admin }} {{ template "page-aside-right" . }} {{ end }}
    </div>

    {{ template "page-js" . }}

    <!-- custom CSS for Select2 search input -->
    <style>
      .select2-search--inline .select2-search__field {
        min-width: 300px !important;
        width: 100% !important;
      }
      .select2-container--classic .select2-search--inline .select2-search__field {
        min-width: 300px !important;
      }
      .select2-selection--multiple {
        min-height: 38px !important;
      }
    </style>

    <!-- custom JS -->
    <script src="/static/js/query.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        // Codemirror editor for query
        var editorQuery = CodeMirror.fromTextArea(document.getElementById("query-sql"), {
          mode: "text/x-sql",
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
        });
        editorQuery.setSize("100%", "100%");

        // Select2 initialization
        $("#target_platform").select2({
          theme: "classic",
          width: '100%'
        });
        $("#target_env").select2({
          theme: "classic",
          width: '100%'
        });
        $("#target_uuids").select2({
          theme: "classic",
          width: '100%',
          ajax: {
            url: '/json/nodes/search',
            dataType: 'json',
            delay: 250,
            data: function(params) {
              return {
                q: params.term,
                field: 'uuid'
              };
            },
            processResults: function(data) {
              return {
                results: data.results
              };
            },
            cache: true
          },
          minimumInputLength: 2,
          placeholder: 'Type to search UUIDs...',
          allowClear: true
        });
        $("#target_hosts").select2({
          theme: "classic",
          width: '100%',
          ajax: {
            url: '/json/nodes/search',
            dataType: 'json',
            delay: 250,
            data: function(params) {
              return {
                q: params.term,
                field: 'hostname'
              };
            },
            processResults: function(data) {
              return {
                results: data.results
              };
            },
            cache: true
          },
          minimumInputLength: 2,
          placeholder: 'Type to search hostnames...',
          allowClear: true
        });
        $("#target_tags").select2({
          theme: "classic",
          width: '100%'
        });

        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({ trigger: "hover" });

        // Filter tables by input
        $("#filter-tables").keyup(function () {
          var filterBy = $(this).val();
          //console.log("Filter by " + filterBy);
          $("a.osquery-table:not(:contains(" + filterBy + "))")
            .parent("div")
            .addClass("d-none");
          $("a.osquery-table:contains(" + filterBy + ")")
            .parent("div")
            .removeClass("d-none");
        });
        // Filter tables by select
        $("#select-tables").change(function () {
          var optionSelected = $(this).find("option:selected");
          var valueSelected = optionSelected.val();
          if (valueSelected === "filter-all") {
            //console.log("Showing all");
            $("div.filter-element").removeClass("d-none");
          } else {
            //console.log("Showing " + valueSelected);
            $("div.filter-element:not(." + valueSelected + ")").addClass("d-none");
          }
        });

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function () {
          beginStats();
        }, 60000);
      });
    </script>
  </body>
</html>
