<!DOCTYPE html>
<html lang="en">

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <input type="hidden" id="csrftoken" value="thisshouldbeatoken">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-sidebar" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">


            <div class="card mt-2">
              <div class="card-header">
                <i class="fas fa-tools"></i> Settings for <b>{{ .Service }}</b> Service</b>

                <div class="card-header-actions">
                  <div class="row">
                    <div class="card-header-action mr-3">
                      <button id="settings_add" class="btn btn-sm btn-block btn-dark"
                        data-toggle="tooltip" data-placement="bottom" title="Add Value" onclick="addSetting();">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </div>

              <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped text-center">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{range  $i, $e := $.SettingsValues}}
                    <tr>
                      <td>{{ $e.Name }}</td>
                      <td>{{ $e.Type }}</td>
                      <td>Value</td>
                    </tr>
                  {{ end }}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="modal fade" id="addSettingModal" tabindex="-1" role="dialog" aria-labelledby="addSettingModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add new setting</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="setting_name">Name: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="setting_name" id="setting_name" type="text" autocomplete="off"
                          autofocus>
                      </div>
                      <label class="col-md-2 col-form-label" for="setting_type">Type: </label>
                      <div class="col-md-4">
                        <select class="form-control" id="setting_type" name="setting_type">
                          <option value="integer">Integer</option>
                          <option value="boolean">Boolean</option>
                          <option value="string">String</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="setting_value">Value: </label>
                      <div class="col-md-10">
                        <input class="form-control" name="setting_value" id="setting_value" type="text" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmAddSetting();">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ template "page-aside" . }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/functions.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/stats.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Enable all tooltips
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);
      });
    </script>
  </body>
</html>
