<!DOCTYPE html>
<html lang="en">

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <input type="hidden" id="csrftoken" value="thisshouldbeatoken">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-sidebar" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">

            <div class="card mt-2">
              <div class="card-header">
                <i class="fa fas fa-server"></i> Table of {{ .Target }} Nodes by {{ .Selector }} : <b>{{ .SelectorName }}</b>
                <div class="card-header-actions">
                  <small>Refresh in <span id="refresh_seconds">30</span> seconds</small>
                  <button id="refresh_pause" class="btn btn-sm btn-outline-dark" data-toggle="tooltip"
                    data-placement="bottom" title="Pause refresh" onclick="changeTableRefresh('refresh_value', 'refresh_pause');">
                    <i class="fas fa-pause"></i>
                  </button>
                  <button class="btn btn-sm btn-outline-primary" data-toggle="tooltip"
                    data-placement="bottom" title="Refresh nodes" onclick="refreshTableNow('tableNodes');">
                    <i class="fas fa-sync-alt"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">

                <table id="tableNodes" class="table table-responsive table-bordered table-striped" style="width:100%">
                  <input type="hidden" id="refresh_value" value="yes">
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" name="select-all" value="1" id="select-all">
                      </th>
                      <th>UUID</th>
                      <th>Username</th>
                      <th>Localname</th>
                      <th>IP Address</th>
                      <th>Platform</th>
                      <th>Version</th>
                      <th>
                        <span class="icon-osquery">
                          <span class="path1"></span><span class="path2"></span><span class="path3"></span></span></th>
                      <th>Last Seen</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>

          {{ template "page-modals" . }}

          </div>

        </div>

      </main>

      {{ template "page-aside" . }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/functions.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/actions.js"></script>
    <script src="/static/js/settings.js"></script>
    <script src="/static/js/tables.js"></script>
    <script src="/static/js/stats.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $.fn.dataTable.ext.errMode = function(settings, helpPage, message) {
          console.log(message);
          $('.card-header').addClass("bg-danger");
        };
        $.fn.dataTable.ext.ajax;
        var tableNodes = $('#tableNodes').DataTable({
          initComplete : function(settings, json) {
            $('.card-header').removeClass("bg-danger");
          },
          pageLength : 25,
          searching : true,
          dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12 col-md-4'B><'col-sm-12 col-md-4'i><'col-sm-12 col-md-4'p>>",
          processing : true,
          ajax : {
            url: "/json/{{ .Selector }}/{{ .SelectorName }}/{{ .Target }}",
            dataSrc: function(json) {
              $('.card-header').removeClass("bg-danger");
              return json.data;
            }
          },
          columns : [
            {"data" : "checkbox"},
            {"data" : "uuid"},
            {"data" : "username"},
            {"data" : "localname"},
            {"data" : "ip"},
            {"data" : "platform"},
            {"data" : "version"},
            {"data" : "osquery"},
            {"data" : "lastseen"}
          ],
          columnDefs: [
            {
              targets:   0,
              className: 'select-checkbox',
              width: '1%',
              data: 'checkbox',
              searchable:  false,
              orderable:   false
            },{
              targets: 1,
              width: '26%',
              data: 'uuid',
              render: function (data, type, row, meta) {
                if (type === 'display') {
                  return '<a href="/node/'+data+'">' + data + '</a>';
                } else {
                  return data;
                }
              }
            },{
              targets: 2,
              data: 'username',
              width: '7%'
            },{
              targets: 3,
              data: 'localname',
              width: '5%'
            },{
              targets: 4,
              data: 'ip',
              width: '3%'
            },{
              targets: 5,
              data: 'platform',
              width: '5%',
              render: function(data, type, row, meta) {
                if (type === 'display') {
                  switch(data) {
                  case "ubuntu":
                    return '<i class="fl-ubuntu-inverse"></i> ubuntu';
                  case "debian":
                    return '<i class="fl-debian"></i> debian';
                  case "unknown":
                    return '<i class="fa fa-question-circle"></i> unknown';
                  case "darwin":
                    return '<i class="fab fa-apple"></i> darwin';
                  case "centos":
                    return '<i class="fl-centos"></i> centos';
                  case "rhel":
                    return '<i class="fl-redhat"></i> redhat';
                  case "fedora":
                    return '<i class="fl-fedora"></i> fedora';
                  case "windows":
                    return '<i class="fab fa-windows"></i> windows';
                  case "freebsd":
                    return '<i class="fl-freebsd"></i> freebsd';
                  case "opensuse":
                    return '<i class="fl-opensuse"></i> opensuse';
                  }
                } else {
                  return data;
                }
              }
            },{
              targets: 6,
              data: 'version',
              width: '15%'
            },{
              targets: 7,
              data: 'osquery',
              width: '3%'
            },{
              targets: 8,
              data: 'lastseen',
              width: '10%'
            }
          ],
          select: {
            style:    'os',
            selector: 'td:first-child'
          },
          buttons: [
            {
              className: 'btn custom-size-btn btn-outline-danger',
              text: '<i class="far fa-trash-alt"></i>',
              titleAttr: 'Remove Nodes',
              attr:  {
                'data-toggle':  'tooltip',
                'data-placement': 'bottom'
              },
              init: function(api, node, config) {
                $(node).removeClass('dt-button');
              },
              action: function(e, dt, node, config) {
                var a = [];
                $.each(tableNodes.rows('.selected').data(), function() {
                  a.push(this);
                });
                var uuids = []
                for (var i=0; i<a.length; i++) {
                  var uuid = $.parseHTML(a[i].uuid);
                  uuids.push(uuid[0].innerText)
                }
                if (uuids.length > 0) {
                  console.log(uuids);
                  confirmRemoveNodes(uuids);
                } else {
                  console.log('Delete: NO SELECTION');
                  $("#warningModalMessage").text("You must select one or more nodes");
                  $("#warningModal").modal();
                }
              }
            },
            {
              className: 'btn custom-size-btn btn-outline-dark',
              text: '<i class="fa fa-terminal"></i>',
              titleAttr: 'Run Query',
              attr:  {
                'data-toggle':  'tooltip',
                'data-placement': 'bottom'
              },
              init: function(api, node, config) {
                $(node).removeClass('dt-button');
              },
              action: function(e, dt, node, config) {
                var a = [];
                $.each(tableNodes.rows('.selected').data(), function() {
                  a.push(this);
                });
                var uuids = []
                for (var i=0; i<a.length; i++) {
                  var uuid = $.parseHTML(a[i].uuid);
                  uuids.push(uuid[0].innerText)
                }
                if (uuids.length > 0) {
                  console.log(uuids);
                  showQueryNodes(uuids);
                } else {
                  console.log('Query: NO SELECTION');
                  $("#warningModalMessage").text("You must select one or more nodes");
                  $("#warningModal").modal();
                }
              }
            }
          ]
        });

        // Select and deselect all
        tableNodes.on("click", "th.select-checkbox", function() {
          if ($("th.select-checkbox").hasClass("selected")) {
            tableNodes.rows().deselect();
            $("th.select-checkbox").removeClass("selected");
          } else {
            tableNodes.rows().select();
            $("th.select-checkbox").addClass("selected");
          }
        }).on("select deselect", function() {
          ("Some selection or deselection going on")
          if (tableNodes.rows({
            selected: true
          }).count() !== tableNodes.rows().count()) {
            $("th.select-checkbox").removeClass("selected");
          } else {
            $("th.select-checkbox").addClass("selected");
          }
        });

        // Enable all tooltips
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});

        // Display the number of seconds left and refresh
        var refreshSeconds = 30;
        var timeleft = refreshSeconds;
        var tableTimer = setInterval(function(){
          if (document.getElementById("refresh_value").value === 'yes') {
            timeleft--;
          }
          document.getElementById("refresh_seconds").textContent = timeleft;
          if(timeleft <= 0) {
            timeleft = refreshSeconds;
            tableNodes.ajax.reload();
          }
        },1000);

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);
      });
    </script>

  </body>
</html>
