<!DOCTYPE html>
<html lang="en">

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <input type="hidden" id="csrftoken" value="thisshouldbeatoken">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-sidebar" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">


            <div class="card mt-2">
              <div class="card-header">
                <i class="fas fa-user-cog"></i> Admin Users

                <div class="card-header-actions">
                  <div class="row">
                    <div class="card-header-action mr-3">
                      <button id="users_add" class="btn btn-sm btn-block btn-dark"
                        data-toggle="tooltip" data-placement="bottom" title="Add User" onclick="addUser();">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </div>

              <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped text-center">
                  <thead>
                    <tr>
                      <th width="10%">Username</th>
                      <th width="13%">Fullname</th>
                      <th width="7%">Admin?</th>
                      <th width="10%">IP Address</th>
                      <th width="30%">User Agent</th>
                      <th width="20%">Last Access</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{range  $i, $e := $.CurrentUsers}}
                    <tr>
                      <td>{{ $e.Username }}</td>
                      <td>{{ $e.Fullname }}</td>
                      <td>{{ $e.Admin }}</td>
                      <td>{{ $e.LastIPAddress }}</td>
                      <td>{{ $e.LastUserAgent }}</td>
                      <td>{{ pastTimeAgo $e.LastAccess }}</td>
                    </tr>
                  {{ end }}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add new user</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="user_username">Username: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="user_username" id="user_username" type="text" autocomplete="off" autofocus>
                      </div>
                      <label class="col-md-2 col-form-label" for="user_password">Password: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="user_password" id="user_password" type="password" autocomplete="off">
                      </div>

                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="user_fullname">Fullname: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="user_fullname" id="user_fullname" type="text" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmAddUser();">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ template "page-aside" . }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/functions.js"></script>
    <script src="/static/js/users.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/stats.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Enable all tooltips
        $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);
      });
    </script>
  </body>
</html>
