[req]
default_bits = 4096
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = US
ST = NY
L = Buffalo
O = Example
emailAddress = lolz@gmail.com
CN = osctrl.example.com

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = osctrl.example.com
DNS.2 = osctrl-nginx
DNS.3 = nginx
DNS.4 = osctrl