# YAML configuration for osctrl-tls

service:
  listener: 127.0.0.1
  port: 9000
  # Valid values: "debug", "info", "warn", "error"
  logLevel: info
  # Valid values: "json", "console"
  logFormat: json
  host: osctrl.net
  # Valid values: "none", "json", "db", "saml", "oidc", "oauth"
  auth: none
  auditLog: false

# Database configuration
db:
  type: postgres
  host: 127.0.0.1
  port: 5432
  name: osctrl
  username: postgres
  password: postgres
  sslmode: disable
  maxIdleConns: 20
  maxOpenConns: 100
  connMaxLifetime: 30
  connRetry: 10
  filePath: ./osctrl.db

# Batch writer configuration
batchwriter:
  writerBatchSize: 50
  writerTimeout: 1m0s
  writerBufferSize: 2000

# Redis cache configuration
redis:
  host: 127.0.0.1
  port: 6379
  password: ""
  connectionString: ""
  db: 0
  connRetry: 10

# Osquery nodes configuration
osquery:
  version: 5.21.0
  tablesFile: ./data/5.21.0.json
  logger: true
  config: true
  query: true
  carve: true

# Osctrl daemon configuration
osctrld:
  enabled: false

# Metrics configuration (Prometheus)
metrics:
  enabled: false
  listener: 127.0.0.1
  port: 9090

# TLS termination configuration
tls:
  termination: false
  certificateFile: ./config/tls.crt
  keyFile: ./config/tls.key

# Logger configuration to handle received logs from osquery nodes
logger:
  # Valid values: "none", "stdout", "file", "db", "graylog", "splunk", "logstash", "kinesis", "s3", "kafka", "elastic"
  type: db
  loggerDBSame: false
  alwaysLog: false
  db:
    type: ""
    host: ""
    port: 0
    name: ""
    username: ""
    password: ""
    sslmode: ""
    maxIdleConns: 0
    maxOpenConns: 0
    connMaxLifetime: 0
    connRetry: 0
    filePath: ""
  s3:
    bucket: ""
    region: ""
    accessKey: ""
    secretAccessKey: ""
  graylog:
    url: ""
    host: ""
    queries: ""
    status: ""
    results: ""
  elastic:
    host: ""
    port: ""
    indexPrefix: ""
    dateSeparator: ""
    indexSeparator: ""
  splunk:
    url: ""
    token: ""
    host: ""
    index: ""
  logstash:
    host: ""
    port: ""
    protocol: ""
    path: ""
  kinesis:
    stream: ""
    region: ""
    endpoint: ""
    accessKey: ""
    secretKey: ""
    sessionToken: ""
  kafka:
    bootstrapServers: ""
    sslCALocation: ""
    connectionTimeout: 5s
    sasl:
      mechanism: ""
      username: ""
      password: ""
    topic: ""
  local:
    filePath: ""
    maxSize: 0
    maxBackups: 0
    maxAge: 0
    compress: false

# Carver configuration to handle file carves from osquery nodes
carver:
  # Valid values: "none", "local", "db", "s3"
  type: db
  s3:
    bucket: ""
    region: ""
    accessKey: ""
    secretAccessKey: ""
  local:
    carvesDir: ./carved_files/

# Debug configuration
debug:
  enableHttp: false
  httpFile: ./debug-http-tls.log
  showBody: false
