[Unit]
Description=Fast and efficient operative system management
ConditionPathExists=/opt/osctrl
After=network.target
 
[Service]
Type=simple
User=osctrl
Group=osctrl
Restart=on-failure
RestartSec=10

WorkingDirectory=/opt/osctrl
ExecStart=/opt/osctrl/osctrl-tls

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/osctrl-tls
ExecStartPre=/bin/chown syslog:adm /var/log/osctrl-tls
ExecStartPre=/bin/chmod 755 /var/log/osctrl-tls
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=osctrl-tls
 
[Install]
WantedBy=multi-user.target