<!DOCTYPE html>
<html lang="en">

  {{ template "head" . }}

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    
    {{ template "page-header" . }}
    
    <div class="app-body">
      
      {{ template "page-sidebar" . }}

      <main class="main">
        
        <div class="container-fluid">
          
          <div class="animated fadeIn">

            <div class="card mt-2">
              <div class="card-header">
                <i class="nav-icon fas fa-terminal"></i> {{ .Title }}
                <div class="card-header-actions">
                  <small>Refresh in <span id="refresh_seconds">30</span> seconds</small>
                  <button id="refresh_pause" class="btn btn-sm btn-outline-dark" onclick="changeTableRefresh('refresh_value', 'refresh_pause');">
                    <i class="fas fa-pause"></i>
                  </button>
                  <button class="btn btn-sm btn-outline-primary" onclick="refreshTableNow('tableNodes');">
                    <i class="fas fa-sync-alt"></i>
                  </button>
                </div>
              </div>
              <div class="card-body table-responsive">

                  <table id="tableQueries" class="table table-bordered table-striped" style="width:100%">
                    <input type="hidden" id="refresh_value" value="yes">
                    <thead>
                      <tr>
                        <th>
                          <input type="checkbox" name="select-all" value="1" id="select-all">
                        </th>
                        <th>Name</th>
                        <th>Creator</th>
                        <th>Query</th>
                        <th>Created</th>
                        <th>Executions</th>
                        <th>Errors</th>
                      </tr>
                    </thead>
                  </table>

              </div>
            </div>

            <input type="hidden" id="csrftoken" value="thisshouldbeatoken">
                
          </div>

        </div>

      </main>
      
      {{ template "page-aside" . }}

    </div>

    <!-- Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" integrity="sha384-r3v0/sXe5ocDydKBFcxP390rex2dEm9qN3Yv68S6uNX/F3b/RtMdGMUADZ8tabkz" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js" integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX" crossorigin="anonymous"></script>
    <!-- Select for DataTables -->
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js" integrity="sha384-cOjgXKpKZwqHUxQkXUhdnJfrnLtI4RMo71zMDdhSIeb6m1tWreU56MdGcqc8l+HH" crossorigin="anonymous"></script>
    <!-- Buttons for DataTables -->
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js" integrity="sha384-zOjU8Lmrn7aY/0op2Zr4DRXhg0el3XJ4SEMVakZ7bni+KP5F9geHOJ0cWYSvj0HN" crossorigin="anonymous"></script>
    <!-- CoreUI JS -->
    <script src="/static/js/coreui.min.js"></script>
    <!-- osctrl JS -->
    <script src="/static/js/query.js"></script>
    <script src="/static/js/tables.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $.fn.dataTable.ext.errMode = function(settings, helpPage, message) { 
          console.log(message);
          $('.card-header').addClass("bg-danger");
        };
        $.fn.dataTable.ext.ajax;
        var tableQueries = $('#tableQueries').DataTable({
          initComplete : function(settings, json) {
            $('.card-header').removeClass("bg-danger");
          },
          pageLength : 25,
          searching : true,
          dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12 col-md-4'B><'col-sm-12 col-md-4'i><'col-sm-12 col-md-4'p>>",
          processing : true,
          ajax : {
            url: "/query/json/{{ .Target }}",
            dataSrc: function(json) {
              $('.card-header').removeClass("bg-danger");
              return json.data;
            }
          },
          columns : [
            {"data" : "checkbox"},
            {"data" : "name"},
            {"data" : "creator"},
            {"data" : "query"},
            {"data" : "created"},
            {"data" : "executions"},
            {"data" : "errors"}
          ],
          columnDefs: [
            { width: '1%', targets: 0 },
            { width: '8%', targets: 1 },
            { width: '6%', targets: 2 },
            { width: '40%', targets: 3 },
            { width: '15%', targets: 4 },
            { width: '10%', targets: 5 },
            { width: '10%', targets: 6 },
            {
              className: 'select-checkbox',
              targets:   0,
              searchable:  false,
              orderable:   false,
            }
          ],
          select: {
            style:    'os',
            selector: 'td:first-child'
          },
          buttons: [
            {
              className: 'btn custom-size-btn btn-outline-danger',
              text: '<i class="far fa-trash-alt"></i>',
              titleAttr: 'Delete Query',
              init: function(api, node, config) {
                $(node).removeClass('dt-button');
              },
              action: function(e, dt, node, config) {
                var a = [];
                $.each(tableNodes.rows('.selected').data(), function() {
                  a.push(this);
                });
                var names = []
                for (var i=0; i<a.length; i++) {
                  var name = $.parseHTML(a[i].name);
                  names.push(name[0].innerText)
                }
                if (names.length > 0) {
                  console.log(names);
                  confirmDeleteQueries(names);
                } else {
                  console.log('NO SELECTION');
                }
              }
            },
            {
              className: 'btn custom-size-btn btn-outline-dark',
              text: '<i class="fas fa-flag-checkered"></i>',
              titleAttr: 'Complete Query',
              init: function(api, node, config) {
                $(node).removeClass('dt-button');
              },
              action: function(e, dt, node, config) {
                var a = [];
                $.each(tableNodes.rows('.selected').data(), function() {
                  a.push(this);
                });
                var names = []
                for (var i=0; i<a.length; i++) {
                  var name = $.parseHTML(a[i].name);
                  names.push(name[0].innerText)
                }
                if (names.length > 0) {
                  console.log(names);
                  completeQueries(names);
                } else {
                  console.log('Query: NO SELECTION');
                }
              }
            }
          ]
        });

        // Auto-refresh table
        setInterval(function (){
          tableQueries.ajax.reload();
        }, 30000 );
      });
    </script>

  </body>
</html>