<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">

            <div class="card mt-2">
              <div id="intervals_header" class="card-header">
                <i class="far fa-clock"></i> Intervals for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                {{ if eq $metadata.Level "admin" }}
                  <div class="card-header-action">
                    <button id="intervals_save" class="btn btn-sm btn-block btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Save Intervals" onclick="saveIntervals();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                {{ end }}
                </div>
              </div>
              <div class="card-body">

                <!-- Intervals -->
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="col-md-12">
                        <label for="conf_range">Configuration Interval: <b><output id="conf_output">{{ .Environment.ConfigInterval }}</output></b> seconds</label>
                        <input type="range" class="form-control-range" id="conf_range"
                          value="{{ .Environment.ConfigInterval }}" min="10" max="600" step="10"
                          oninput="changeIntervalValue(conf_range, conf_output);">
                        <input id="conf_range_save" type="hidden" value="{{ .Environment.ConfigInterval }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="logging_range">Logging Interval: <b><output id="logging_output">{{ .Environment.LogInterval }}</output></b> seconds</label>
                      <input type="range" class="form-control-range" id="logging_range"
                        value="{{ .Environment.LogInterval }}" min="10" max="600" step="10"
                        oninput="changeIntervalValue(logging_range, logging_output);">
                      <input id="logging_range_save" type="hidden" value="{{ .Environment.LogInterval }}">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="query_range">Query Interval: <b><output id="query_output">{{ .Environment.QueryInterval }}</output></b> seconds</label>
                      <input type="range" class="form-control-range" id="query_range"
                        value="{{ .Environment.QueryInterval }}" min="10" max="300" step="1"
                        oninput="changeIntervalValue(query_range, query_output);">
                      <input id="query_range_save" type="hidden" value="{{ .Environment.QueryInterval }}">
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- Options -->
            <div class="card mt-2">
              <div id="options_header" class="card-header">
                <i class="far fa-file-alt"></i> osquery options for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                {{ if eq $metadata.Level "admin" }}
                  <div class="card-header-action">
                    <button class="btn btn-sm btn-info"
                      data-tooltip="true" data-placement="bottom" title="Documentation" onclick="javascript:window.open('https://osquery.readthedocs.io/en/stable/deployment/configuration/#options', '_blank');">
                      <i class="far fa-question-circle"></i>
                    </button>
                    <button id="options_add_flag" class="btn btn-sm btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Add Option to osquery" onclick="addOsqueryOption();">
                      <i class="fas fa-plus-square"></i>
                    </button>
                    <button id="options_json_save" class="btn btn-sm btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Save Changes" onclick="saveOptions();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                {{ end }}
                </div>
              </div>
              <div class="card-body">

                <textarea id="options_conf" name="options_conf">{{ .Environment.Options }}</textarea>
                <div class="row">
                  <div class="col-md-12">
                    <button id="options_json_status_color" class="text-left btn btn-sm btn-square btn-block btn-success disabled">
                      <span id="options_json_status_icon" class="mr-2"><i class="fas fa-check"></i></span>
                      <span id="options_json_status_text" class="ml-1">Valid JSON</span>
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <!-- Schedule -->
            <div class="card mt-2">
              <div id="schedule_header" class="card-header">
                <i class="far fa-file-alt"></i> Scheduled queries for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                {{ if eq $metadata.Level "admin" }}
                  <div class="card-header-action">
                    <button class="btn btn-sm btn-info"
                      data-tooltip="true" data-placement="bottom" title="Documentation" onclick="javascript:window.open('https://osquery.readthedocs.io/en/stable/deployment/configuration/#schedule', '_blank');">
                      <i class="far fa-question-circle"></i>
                    </button>
                    <button id="schedule_add_query" class="btn btn-sm btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Add Query To Schedule" onclick="addQuerySchedule();">
                      <i class="fas fa-plus-square"></i>
                    </button>
                    <button id="schedule_json_save" class="btn btn-sm btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Save Changes" onclick="saveSchedule();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                {{ end }}
                </div>
              </div>
              <div class="card-body">

                <textarea id="schedule_conf" name="schedule_conf">{{ .Environment.Schedule }}</textarea>
                <div class="row">
                  <div class="col-md-12">
                    <button id="schedule_json_status_color" class="text-left btn btn-sm btn-square btn-block btn-success disabled">
                      <span id="schedule_json_status_icon" class="mr-2"><i class="fas fa-check"></i></span>
                      <span id="schedule_json_status_text" class="ml-1">Valid JSON</span>
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <!-- Packs -->
            <div class="card mt-2">
              <div id="packs_header" class="card-header">
                <i class="far fa-file-alt"></i> Query packs for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                {{ if eq $metadata.Level "admin" }}
                  <div class="card-header-action">
                    <button class="btn btn-sm btn-info"
                      data-tooltip="true" data-placement="bottom" title="Documentation" onclick="javascript:window.open('https://osquery.readthedocs.io/en/stable/deployment/configuration/#packs', '_blank');">
                      <i class="far fa-question-circle"></i>
                    </button>
                    <button id="packs_json_save" class="btn btn-sm btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Save Changes" onclick="savePacks();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                {{ end }}
                </div>
              </div>
              <div class="card-body">

                <textarea id="packs_conf" name="packs_conf">{{ .Environment.Packs }}</textarea>
                <div class="row">
                  <div class="col-md-12">
                    <button id="packs_json_status_color" class="text-left btn btn-sm btn-square btn-block btn-success disabled">
                      <span id="packs_json_status_icon" class="mr-2"><i class="fas fa-check"></i></span>
                      <span id="packs_json_status_text" class="ml-1">Valid JSON</span>
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <!-- ATC -->
            <div class="card mt-2">
              <div id="atc_header" class="card-header">
                <i class="far fa-file-alt"></i> Automatic Table Construction for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                {{ if eq $metadata.Level "admin" }}
                  <div class="card-header-action">
                    <button class="btn btn-sm btn-info"
                      data-tooltip="true" data-placement="bottom" title="Documentation" onclick="javascript:window.open('https://osquery.readthedocs.io/en/stable/deployment/configuration/#automatic-table-construction', '_blank');">
                      <i class="far fa-question-circle"></i>
                    </button>
                    <button id="atc_json_save" class="btn btn-sm btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Save Changes" onclick="saveATC();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                {{ end }}
                </div>
              </div>
              <div class="card-body">

                <textarea id="atc_conf" name="atc_conf">{{ .Environment.ATC }}</textarea>
                <div class="row">
                  <div class="col-md-12">
                    <button id="atc_json_status_color" class="text-left btn btn-sm btn-square btn-block btn-success disabled">
                      <span id="atc_json_status_icon" class="mr-2"><i class="fas fa-check"></i></span>
                      <span id="atc_json_status_text" class="ml-1">Valid JSON</span>
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <!-- Decorators -->
            <div class="card mt-2">
              <div id="decorators_header" class="card-header">
                <i class="far fa-file-alt"></i> Decorators for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                {{ if eq $metadata.Level "admin" }}
                  <div class="card-header-action">
                    <button class="btn btn-sm btn-info"
                      data-tooltip="true" data-placement="bottom" title="Documentation" onclick="javascript:window.open('https://osquery.readthedocs.io/en/stable/deployment/configuration/#decorator-queries', '_blank');">
                      <i class="far fa-question-circle"></i>
                    </button>
                    <button id="decorators_json_save" class="btn btn-sm btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Save Changes" onclick="saveDecorators();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                {{ end }}
                </div>
              </div>
              <div class="card-body">

                <textarea id="decorators_conf" name="decorators_conf">{{ .Environment.Decorators }}</textarea>
                <div class="row">
                  <div class="col-md-12">
                    <button id="decorators_json_status_color" class="text-left btn btn-sm btn-square btn-block btn-success disabled">
                      <span id="decorators_json_status_icon" class="mr-2"><i class="fas fa-check"></i></span>
                      <span id="decorators_json_status_text" class="ml-1">Valid JSON</span>
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <!-- Configuration -->
            <div class="card mt-2">
              <div id="configuration_header" class="card-header">
                <i class="far fa-file-alt"></i> Fully rendered osquery configuration for environment <b>{{ .Environment.Name }}</b>
                <div class="card-header-actions">
                {{ if eq $metadata.Level "admin" }}
                  <div class="card-header-action">
                    <button class="btn btn-sm btn-info"
                      data-tooltip="true" data-placement="bottom" title="Documentation" onclick="javascript:window.open('https://osquery.readthedocs.io/en/stable/deployment/configuration/', '_blank');">
                      <i class="far fa-question-circle"></i>
                    </button>
                    <button id="conf_json_save" class="btn btn-sm btn-dark"
                      data-tooltip="true" data-placement="bottom" title="Save Changes" onclick="saveConfiguration();">
                      <i class="far fa-save"></i>
                    </button>
                  </div>
                {{ end }}
                </div>
              </div>
              <div class="card-body">

                <textarea id="final_conf" name="final_conf">{{ .Environment.Configuration }}</textarea>
                <div class="row">
                  <div class="col-md-12">
                    <button id="conf_json_status_color" class="text-left btn btn-sm btn-square btn-block btn-success disabled">
                      <span id="conf_json_status_icon" class="mr-2"><i class="fas fa-check"></i></span>
                      <span id="conf_json_status_text" class="ml-1">Valid JSON</span>
                    </button>
                  </div>
                </div>

              </div>
            </div>

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
      {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/configuration.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Codemirror editor for configuration
        // JSON validity check when content is changed
        var editorConfiguration = CodeMirror.fromTextArea(document.getElementById("final_conf"), {
          mode: 'application/json',
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
          readOnly: false
        });
        $('#final_conf').data('CodeMirrorInstance', editorConfiguration);
        editorConfiguration.on('change', function(_editor){
          $('#configuration_header').addClass("bg-changed");
          var _valid = true;
          try {
            JSON.parse(_editor.getValue());
          } catch (e) {
            // Display error in console
            console.log(e);
            // Display error in status
            var _position = e.toString().split('position ')[1];
            $("#conf_json_status_text").text('Invalid JSON - ' +e+' ('+lineCharPosition(_position)+')');
            $("#conf_json_status_icon").html('<i class="fas fa-times"></i>');
            $("#conf_json_status_color").each(function(){
              $(this).removeClass("btn-success");
              $(this).addClass("btn-danger");
            });
            _valid = false
            // Disable button
            $('#conf_json_save').prop("disabled", true);
            // Position cursor in where the problem is at
          }
          if (_valid) {
            $("#conf_json_status_text").text('Valid JSON');
            $("#conf_json_status_icon").html('<i class="fas fa-check"></i>');
            $("#conf_json_status_color").each(function(){
              $(this).removeClass("btn-danger");
              $(this).addClass("btn-success");
            });
            $('#conf_json_save').prop("disabled", false);
          }
        });
        editorConfiguration.setSize("100%", "100%");

        // Codemirror editor for options
        // JSON validity check when content is changed
        var editorOptions = CodeMirror.fromTextArea(document.getElementById("options_conf"), {
          mode: 'application/json',
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
          readOnly: false
        });
        $('#options_conf').data('CodeMirrorInstance', editorOptions);
        editorOptions.on('change', function(_editor){
          $('#options_header').addClass("bg-changed");
          var _valid = true;
          try {
            JSON.parse(_editor.getValue());
          } catch (e) {
            // Display error in console
            console.log(e);
            // Display error in status
            var _position = e.toString().split('position ')[1];
            $("#options_json_status_text").text('Invalid JSON - ' +e+' ('+lineCharPosition(_position)+')');
            $("#options_json_status_icon").html('<i class="fas fa-times"></i>');
            $("#options_json_status_color").each(function(){
              $(this).removeClass("btn-success");
              $(this).addClass("btn-danger");
            });
            _valid = false
            // Disable button
            $('#options_json_save').prop("disabled", true);
            $('#options_add_flag').prop("disabled", true);
            options_add_flag
            // Position cursor in where the problem is at
          }
          if (_valid) {
            $("#options_json_status_text").text('Valid JSON');
            $("#options_json_status_icon").html('<i class="fas fa-check"></i>');
            $("#options_json_status_color").each(function(){
              $(this).removeClass("btn-danger");
              $(this).addClass("btn-success");
            });
            $('#options_json_save').prop("disabled", false);
            $('#options_add_flag').prop("disabled", false);
          }
        });
        editorOptions.setSize("100%", "100%");

        // Codemirror editor for schedule
        // JSON validity check when content is changed
        var editorSchedule = CodeMirror.fromTextArea(document.getElementById("schedule_conf"), {
          mode: 'application/json',
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
          readOnly: false
        });
        $('#schedule_conf').data('CodeMirrorInstance', editorSchedule);
        editorSchedule.on('change', function(_editor){
          $('#schedule_header').addClass("bg-changed");
          var _valid = true;
          try {
            JSON.parse(_editor.getValue());
          } catch (e) {
            // Display error in console
            console.log(e);
            // Display error in status
            var _position = e.toString().split('position ')[1];
            $("#schedule_json_status_text").text('Invalid JSON - ' +e+' ('+lineCharPosition(_position)+')');
            $("#schedule_json_status_icon").html('<i class="fas fa-times"></i>');
            $("#schedule_json_status_color").each(function(){
              $(this).removeClass("btn-success");
              $(this).addClass("btn-danger");
            });
            _valid = false
            // Disable buttons
            $('#schedule_json_save').prop("disabled", true);
            $('#schedule_add_query').prop("disabled", true);
            // Position cursor in where the problem is at
          }
          if (_valid) {
            $("#schedule_json_status_text").text('Valid JSON');
            $("#schedule_json_status_icon").html('<i class="fas fa-check"></i>');
            $("#schedule_json_status_color").each(function(){
              $(this).removeClass("btn-danger");
              $(this).addClass("btn-success");
            });
            $('#schedule_json_save').prop("disabled", false);
            $('#schedule_add_query').prop("disabled", false);
          }
        });
        editorSchedule.setSize("100%", "100%");

        // Codemirror editor for query packs
        // JSON validity check when content is changed
        var editorPacks = CodeMirror.fromTextArea(document.getElementById("packs_conf"), {
          mode: 'application/json',
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
          readOnly: false
        });
        $('#packs_conf').data('CodeMirrorInstance', editorPacks);
        editorPacks.on('change', function(_editor){
          $('#packs_header').addClass("bg-changed");
          var _valid = true;
          try {
            JSON.parse(_editor.getValue());
          } catch (e) {
            // Display error in console
            console.log(e);
            // Display error in status
            var _position = e.toString().split('position ')[1];
            $("#packs_json_status_text").text('Invalid JSON - ' +e+' ('+lineCharPosition(_position)+')');
            $("#packs_json_status_icon").html('<i class="fas fa-times"></i>');
            $("#packs_json_status_color").each(function(){
              $(this).removeClass("btn-success");
              $(this).addClass("btn-danger");
            });
            _valid = false
            // Disable button
            $('#packs_json_save').prop("disabled", true);
            // Position cursor in where the problem is at
          }
          if (_valid) {
            $("#packs_json_status_text").text('Valid JSON');
            $("#packs_json_status_icon").html('<i class="fas fa-check"></i>');
            $("#packs_json_status_color").each(function(){
              $(this).removeClass("btn-danger");
              $(this).addClass("btn-success");
            });
            $('#packs_json_save').prop("disabled", false);
          }
        });
        editorPacks.setSize("100%", "100%");

        // Codemirror editor for ATC
        // JSON validity check when content is changed
        var editorATC = CodeMirror.fromTextArea(document.getElementById("atc_conf"), {
          mode: 'application/json',
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
          readOnly: false
        });
        $('#atc_conf').data('CodeMirrorInstance', editorATC);
        editorATC.on('change', function(_editor){
          $('#atc_header').addClass("bg-changed");
          var _valid = true;
          try {
            JSON.parse(_editor.getValue());
          } catch (e) {
            // Display error in console
            console.log(e);
            // Display error in status
            var _position = e.toString().split('position ')[1];
            $("#atc_json_status_text").text('Invalid JSON - ' +e+' ('+lineCharPosition(_position)+')');
            $("#atc_json_status_icon").html('<i class="fas fa-times"></i>');
            $("#atc_json_status_color").each(function(){
              $(this).removeClass("btn-success");
              $(this).addClass("btn-danger");
            });
            _valid = false
            // Disable button
            $('#atc_json_save').prop("disabled", true);
            // Position cursor in where the problem is at
          }
          if (_valid) {
            $("#atc_json_status_text").text('Valid JSON');
            $("#atc_json_status_icon").html('<i class="fas fa-check"></i>');
            $("#atc_json_status_color").each(function(){
              $(this).removeClass("btn-danger");
              $(this).addClass("btn-success");
            });
            $('#atc_json_save').prop("disabled", false);
          }
        });
        editorATC.setSize("100%", "100%");

        // Codemirror editor for decorators
        // JSON validity check when content is changed
        var editorDecorators = CodeMirror.fromTextArea(document.getElementById("decorators_conf"), {
          mode: 'application/json',
          lineNumbers: true,
          styleActiveLine: true,
          matchBrackets: true,
          readOnly: false
        });
        $('#decorators_conf').data('CodeMirrorInstance', editorDecorators);
        editorDecorators.on('change', function(_editor){
          $('#decorators_header').addClass("bg-changed");
          var _valid = true;
          try {
            JSON.parse(_editor.getValue());
          } catch (e) {
            // Display error in console
            console.log(e);
            // Display error in status
            var _position = e.toString().split('position ')[1];
            $("#decorators_json_status_text").text('Invalid JSON - ' +e+' ('+lineCharPosition(_position)+')');
            $("#decorators_json_status_icon").html('<i class="fas fa-times"></i>');
            $("#decorators_json_status_color").each(function(){
              $(this).removeClass("btn-success");
              $(this).addClass("btn-danger");
            });
            _valid = false
            // Disable button
            $('#decorators_json_save').prop("disabled", true);
            // Position cursor in where the problem is at
          }
          if (_valid) {
            $("#decorators_json_status_text").text('Valid JSON');
            $("#decorators_json_status_icon").html('<i class="fas fa-check"></i>');
            $("#decorators_json_status_color").each(function(){
              $(this).removeClass("btn-danger");
              $(this).addClass("btn-success");
            });
            $('#decorators_json_save').prop("disabled", false);
          }
        });
        editorDecorators.setSize("100%", "100%");

        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);
      });
    </script>
  </body>
</html>
