<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">


            <div class="card mt-2">
              <div class="card-header">
                <i class="fas fa-user-edit"></i> osctrl Dashboard for {{ $metadata.Username }}

                  <div class="card-header-actions">
                  </div>

              </div>

              <div class="card-body">

                <div class="form-group row">
                  <div class="col-md-12">
                    <input class="form-control" name="dashboard_search" id="search_box" type="text" autocomplete="off" value="">
                  </div>
                </div>

              </div>
            </div>

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
      {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script type="text/javascript">
      $(document).ready(function() {
        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});
        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);
      });
    </script>
  </body>
</html>
