<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">

            <div class="card mt-2">
              <div class="card-header">
                <i class="fas fa-bolt"></i> Quick install/update nodes for environment <b>{{ .EnvName }}</b>

                  <div class="card-header-actions">
                    <div class="row">
                      <span class="align-self-center mr-1"><b>{{ .EnrollExpiry }}</b></span>
                    {{ if eq $metadata.Level "admin" }}
                      {{ if not .EnrollExpired }}
                      <div class="card-header-action mr-3">
                        <button id="enroll_expire" class="btn btn-sm btn-block btn-danger"
                          data-tooltip="true" data-placement="bottom" title="Expire" onclick="expireEnrollLink();">
                          <i class="far fa-times-circle"></i>
                        </button>
                      </div>
                      {{ end }}
                      {{ if .EnrollExpired }}
                      <div class="card-header-action mr-3">
                          <button id="enroll_extend" class="btn btn-sm btn-block btn-success"
                            data-tooltip="true" data-placement="bottom" title="Extend 24 hours" onclick="extendEnrollLink();">
                            <i class="far fa-clock"></i>
                          </button>
                      </div>
                      {{ end }}
                    {{end }}

                    </div>

                  </div>

              </div>
              <div class="card-body">

                <div class="row mb-4">
                  <div class="col-md-12">
                    Run this command in Linux or Mac to quickly add/update nodes in the environment {{ .EnvName }}. It will install osquery in the system:
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-12">
                    <button id="button-clipboard-sh" class="btn-sm btn-clipboard mr-2" data-clipboard-action="copy" data-clipboard-target="#enroll-cmd-sh">
                      Copy
                    </button>
                    <div class="highlight {{ if .EnrollExpired }}stripes-red{{ end }}">
                      <code id="enroll-cmd-sh" class="bash">
                        {{ .QuickAddShell }}
                      </code>
                    </div>
                  </div>

                </div>

                <hr>

                <div class="row mb-4">
                  <div class="col-md-12">
                    Run this command in Windows to quickly add nodes in the environment {{ .EnvName }}. It will install osquery in the system:
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-12">
                    <button id="button-clipboard-ps" class="btn-sm btn-clipboard mr-2" data-clipboard-action="copy" data-clipboard-target="#enroll-cmd-ps">
                      Copy
                    </button>
                    <div class="highlight {{ if .EnrollExpired }}stripes-red{{ end }}">
                      <code id="enroll-cmd-ps" class="bash">
                        {{ .QuickAddPowershell }}
                      </code>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="card mt-2">
              <div class="card-header">
                <i class="fas fa-exclamation-triangle"></i> Quick <span style="color:red;">remove</span> nodes for environment <b>{{ .EnvName }}</b>
                <div class="card-header-actions">

                  <div class="row">
                    <span class="align-self-center mr-1"><b>{{ .RemoveExpiry }}</b></span>
                  {{ if eq $metadata.Level "admin" }}
                    {{ if not .RemoveExpired }}
                    <div class="card-header-action mr-3">
                      <button id="remove_expire" class="btn btn-sm btn-block btn-danger"
                        data-tooltip="true" data-placement="bottom" title="Expire" onclick="expireRemoveLink();">
                        <i class="far fa-times-circle"></i>
                      </button>
                    </div>
                    {{ end }}
                    {{ if .RemoveExpired }}
                    <div class="card-header-action mr-3">
                      <button id="remove_extend" class="btn btn-sm btn-block btn-success"
                        data-tooltip="true" data-placement="bottom" title="Extend 24 hours" onclick="extendRemoveLink();">
                        <i class="far fa-clock"></i>
                      </button>
                    </div>
                    {{ end }}
                  {{ end }}

                  </div>

                </div>
              </div>
              <div class="card-body">

                <div class="row mb-4">
                  <div class="col-md-12">
                    Run this command in Linux or Mac to quickly <span style="color:red;">remove</span> nodes in the environment {{ .EnvName }}. It will NOT remove osquery from the system:
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-12">
                    <button id="button-clipboard-sh" class="btn-sm btn-clipboard mr-2" data-clipboard-action="copy" data-clipboard-target="#remove-cmd-sh">
                      Copy
                    </button>
                    <div class="highlight {{ if .RemoveExpired }}stripes-red{{ end }}">
                      <code id="remove-cmd-sh" class="bash">
                        {{ .QuickRemoveShell }}
                      </code>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row mb-4">
                  <div class="col-md-12">
                    Run this command in Windows to quickly <span style="color:red;">remove</span> nodes in the environment {{ .EnvName }}. It will NOT remove osquery from the system:
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-12">
                    <button id="button-clipboard-ps" class="btn-sm btn-clipboard mr-2" data-clipboard-action="copy" data-clipboard-target="#remove-cmd-ps">
                      Copy
                    </button>
                    <div class="highlight {{ if .RemoveExpired }}stripes-red{{ end }}">
                      <code id="remove-cmd-ps" class="bash">
                        {{ .QuickRemovePowershell }}
                      </code>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="card mt-2">
              <div class="card-header">
                <i class="fas fa-key"></i> Values to manually enroll nodes for environment <b>{{ .EnvName }}</b>
                <div class="card-header-actions">

                  <div class="row">
                    <div class="card-header-action mr-3">
                      <button id="show_values" class="btn btn-sm btn-block btn-info"
                        data-placement="bottom" title="Show values" data-tooltip="true"
                        data-toggle="collapse" data-target=".manual-values">
                        <i class="far fa-eye"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card-body collapse manual-values">

                <div class="row mb-4">
                  <div class="col-md-12">
                    Enrollment secret:
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-12">
                    <button id="button-clipboard-values" class="btn-sm btn-clipboard mr-2" data-clipboard-action="copy" data-clipboard-target="#enroll-secret">
                      Copy
                    </button>
                    <div class="highlight">
                      <code id="enroll-secret">
                        {{ .Secret }}
                      </code>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row mb-4">
                  <div class="col-md-12">
                    Enrollment flags for osquery:
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-12">
                    <button id="button-clipboard-values" class="btn-sm btn-clipboard mr-2" data-clipboard-action="copy" data-clipboard-target="#enroll-flags">
                      Copy
                    </button>
                    <div class="highlight">
                      <pre id="enroll-flags">{{ .Flags }}</pre>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-12">
                    <b>Note:</b> Secret and certificate path need to be changed.
                  </div>
                </div>

                <hr>

                <div class="row mb-4">
                  <div class="row col-md-12">
                    <div class="col-md-10">
                      Enrollment certificate:
                    </div>
                    <div class="col-md-2">
                    {{ if eq $metadata.Level "admin" }}
                      <button id="" class="btn btn-sm btn-block btn-dark"
                        data-tooltip="true" data-placement="bottom" title="Upload new certificate" onclick="confirmUploadCertificate();">
                        <i class="fas fa-upload"></i>
                      </button>
                    {{ end }}
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-12">
                    <button id="button-clipboard-values" class="btn-sm btn-clipboard mr-2" data-clipboard-action="copy" data-clipboard-target="#enroll-cert">
                      Copy
                    </button>
                    <div class="highlight">
                      <pre id="enroll-cert">{{ .Certificate }}</pre>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
      {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/enrolls.js"></script>
    <script type="text/javascript">
      // Highlight.js code element initialization
      hljs.initHighlightingOnLoad();

      $(document).ready(function() {
        // Codemirror editor for configuration
        var certificateBlob = CodeMirror.fromTextArea(document.getElementById("certificate"), {
          mode: 'text/plain',
          lineNumbers: true
        });
        $('#certificate').data('CodeMirrorInstance', certificateBlob);
        certificateBlob.setSize("100%", "100%");

        // Highlight.js code element initialization
        $('code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
        $('pre').each(function(i, block) {
          hljs.highlightBlock(block);
        });

        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});

        // Clipboard.js initialization
        var clipboard_sh = new ClipboardJS('#button-clipboard-sh');
        clipboard_sh.on('success', function(e) {
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);
          $(e.trigger).text('Copied!');
          e.clearSelection();
          setTimeout(function() {
            $(e.trigger).text('Copy');
          }, 2500);
        });
        clipboard_sh.on('error', function(e) {
          $(e.trigger).text('Error');
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });
        var clipboard_ps = new ClipboardJS('#button-clipboard-ps');
        clipboard_ps.on('success', function(e) {
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);
          $(e.trigger).text('Copied!');
          e.clearSelection();
          setTimeout(function() {
            $(e.trigger).text('Copy');
          }, 2500);
        });
        clipboard_ps.on('error', function(e) {
          $(e.trigger).text('Error');
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });
        var clipboard_values = new ClipboardJS('#button-clipboard-values');
        clipboard_values.on('success', function(e) {
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);
          $(e.trigger).text('Copied!');
          e.clearSelection();
          setTimeout(function() {
            $(e.trigger).text('Copy');
          }, 2500);
        });
        clipboard_values.on('error', function(e) {
          $(e.trigger).text('Error');
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);
      });
    </script>
  </body>
</html>
