<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">

            {{ $template := . }}
            {{ with .Node }}
            <div class="card mt-2">
              <div class="card-header">
                <i class="nav-icon fas fa-info-circle"></i>
                <strong> Details of node {{ .UUID }} </strong>
                <small>{{ .Environment }}</small>
              </div>
              <div class="card-body">

                <div class="row">

                  <div class="col-md-12">

                    <div class="row float-right">
                      <div class="col-md-12">
                      {{ if eq $metadata.Level "admin" }}
                        <button type="button" class="btn custom-size-btn btn-outline-danger"
                        data-tooltip="true" data-placement="top" title="Remove" onclick="confirmRemoveNodes(['{{ .UUID }}']);">
                          <i class="far fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn custom-size-btn btn-outline-dark"
                        data-tooltip="true" data-placement="top" title="Run Query" onclick="showQueryNodes(['{{ .UUID }}']);">
                          <i class="fab fa-searchengin"></i>
                        </button>
                        <button type="button" class="btn custom-size-btn btn-outline-info"
                        data-tooltip="true" data-placement="top" title="Carve File" onclick="showCarveFiles(['{{ .UUID }}']);">
                          <i class="fas fa-file-upload"></i>
                        </button>
                      {{ end }}
                        <button type="button" class="btn custom-size-btn btn-outline-primary"
                        data-tooltip="true" data-placement="top" title="Refresh" onclick="refreshCurrentNode();">
                          <i class="fas fa-sync-alt"></i>
                        </button>
                      </div>
                    </div>

                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#details" role="tab" aria-controls="details">Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#metadata" role="tab" aria-controls="metadata">Metadata</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#status-logs" role="tab" aria-controls="status-logs">Status Logs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#result-logs" role="tab" aria-controls="result-logs">Result Logs</a>
                      </li>
                    </ul>

                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="details" role="tabpanel">

                        <div class="row">
                          <div class="col-md-6">

                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Environment</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Environment }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>UUID</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .UUID }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Hostname</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Hostname }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Localname</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Localname }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Platform</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">
                                    {{if eq .Platform "darwin"}}<i class='fab fa-apple'></i> darwin{{end}}
                                    {{if eq .Platform "debian"}}<i class='fl-debian'></i> debian{{end}}
                                    {{if eq .Platform "ubuntu"}}<i class='fl-ubuntu-inverse'></i> ubuntu{{end}}
                                    {{if eq .Platform "centos"}}<i class='fl-centos'></i> centos{{end}}
                                    {{if eq .Platform "rhel"}}<i class='fl-redhat'></i> redhat{{end}}
                                    {{if eq .Platform "fedora"}}<i class='fl-fedora'></i> fedora{{end}}
                                    {{if eq .Platform "windows"}}<i class='fab fa-windows'></i> windows{{end}}
                                    {{if eq .Platform "freebsd"}}<i class='fl-freebsd'></i> freebsd{{end}}
                                    {{if eq .Platform "opensuse"}}<i class='fl-opensuse'></i> opensuse{{end}}
                                    {{if eq .Platform "arch"}}<i class='fl-archlinux'></i> arch{{end}}
                                    {{if eq .Platform "unknown"}}<i class='fa fa-question-circle'></i> unknown{{end}}
                                  - {{ .PlatformVersion }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>IP Address</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .IPAddress }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Last User</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Username }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>CPU</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .CPU }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Memory</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Memory }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Hardware Serial</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .HardwareSerial }}</p>
                              </div>
                            </div>

                          </div>

                          <div class="col-md-6">

                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Enrolled</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .CreatedAt }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Last Status</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastStatus }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Last Result</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastResult }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Last Config</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastConfig }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Query Read</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastQueryRead }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Query Write</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastQueryWrite }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>
                                  <span class="icon-osquery">
                                  <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> Node Key
                                </b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .NodeKey }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>
                                  <span class="icon-osquery">
                                  <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> User / Version
                                </b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .OsqueryUser }} - osquery {{ .OsqueryVersion }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>
                                  <span class="icon-osquery">
                                    <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> Config Hash
                                </b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .ConfigHash }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>
                                  <span class="icon-osquery">
                                    <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> osqueryd MD5
                                </b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .DaemonHash }}</p>
                              </div>
                            </div>

                          </div>

                        </div>

                      </div>

                      <div class="tab-pane fade" id="metadata" role="tabpanel">

                        <div class="row mb-4">
                          <div class="col-md-12">
                            <div class="highlight">
                              <pre id="metadata-json" class="json">{{ jsonRawIndent .RawEnrollment }}</pre>
                            </div>

                          </div>

                        </div>

                      </div>

                    {{ if eq $template.Logs "db" }}
                      <div class="tab-pane fade" id="status-logs" role="tabpanel">
                        <div class="card mt-2">
                          <div id="status-card-header" class="card-header">
                            <i class="fas fa-stream"></i>
                            <label for="back_hours_status">Last <b><output id="back_output_status">6</output></b> hours of status logs for node {{ .UUID }}</label>
                            <input type="range" class="form-control-range" id="back_hours_status"
                            value="6" min="1" max="24" step="1" oninput="changeBackValue('tableStatusLogs', back_hours_status, back_output_status);">
                            <div class="card-header-actions">
                              <small>Refresh in <span id="status_refresh_seconds">60</span> seconds</small>
                              <button id="status_refresh_pause" class="btn btn-sm btn-outline-dark" data-tooltip="true"
                                data-placement="bottom" title="Pause refresh" onclick="changeTableRefresh('status_refresh_value', 'status_refresh_pause');">
                                <i class="fas fa-pause"></i>
                              </button>
                              <button id="status_reload" class="btn btn-sm btn-outline-primary" data-tooltip="true"
                                data-placement="bottom" title="Refresh table" onclick="refreshTableNow('tableStatusLogs');">
                                <i class="fas fa-sync-alt"></i>
                              </button>
                            </div>
                          </div>
                          <div id="status-table" class="card-body table-responsive">
                            <table id="tableStatusLogs" class="table table-bordered table-striped" style="width:100%">
                              <input type="hidden" id="status_refresh_value" value="yes">
                              <thead>
                                <tr>
                                  <th>Created</th>
                                  <th>Message</th>
                                  <th>Severity</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                    {{ else }}
                      <div class="tab-pane fade" id="status-logs" role="tabpanel">
                        <div class="card mt-2">
                          <div id="result-card-header" class="card-header">
                            <i class="fas fa-stream"></i> See status logs for node {{ .UUID }}
                          </div>
                          <div id="status-table" class="card-body">
                            <a href="{{ statusLogsLink .UUID }}" target="_blank">
                              See status logs in {{ $template.Logs }}
                            </a>
                          </div>
                        </div>
                      </div>
                    {{ end }}

                    {{ if eq $template.Logs "db" }}
                      <div class="tab-pane fade" id="result-logs" role="tabpanel">
                        <div class="card mt-2">
                          <div id="result-card-header" class="card-header">
                            <i class="fas fa-stream"></i>
                            <label for="back_hours_result">Last <b><output id="back_output_result">6</output></b> hours of status logs for node {{ .UUID }}</label>
                            <input type="range" class="form-control-range" id="back_hours_result"
                            value="6" min="1" max="24" step="1" oninput="changeBackValue('tableResultLogs', back_hours_result, back_output_result);">
                            <div class="card-header-actions">
                              <small>Refresh in <span id="result_refresh_seconds">60</span> seconds</small>
                              <button id="result_refresh_pause" class="btn btn-sm btn-outline-dark" data-tooltip="true"
                                data-placement="bottom" title="Pause refresh" onclick="changeTableRefresh('result_refresh_value', 'result_refresh_pause');">
                                <i class="fas fa-pause"></i>
                              </button>
                              <button id="result_reload" class="btn btn-sm btn-outline-primary" data-tooltip="true"
                              data-placement="bottom" title="Refresh table" onclick="refreshTableNow('tableResultLogs');">
                                <i class="fas fa-sync-alt"></i>
                              </button>
                            </div>
                          </div>
                          <div id="results-table" class="card-body table-responsive">
                            <table id="tableResultLogs" class="table table-bordered table-striped" style="width:100%">
                              <input type="hidden" id="result_refresh_value" value="yes">
                              <thead>
                                <tr>
                                  <th>Created</th>
                                  <th>Name</th>
                                  <th>Columns</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                    {{ else }}
                      <div class="tab-pane fade" id="result-logs" role="tabpanel">
                        <div class="card mt-2">
                          <div id="result-card-header" class="card-header">
                            <i class="fas fa-stream"></i> See result logs for node {{ .UUID }}
                          </div>
                          <div id="results-table" class="card-body">
                            <a href="{{ resultLogsLink .UUID }}" target="_blank">
                              See result logs in {{ $template.Logs }}
                            </a>
                          </div>
                        </div>
                      </div>
                    {{ end }}

                    </div>

                  </div>

                </div>

              </div>
            </div>

            {{ template "page-modals" . }}

            {{ end }}

          </div>
        </div>

      </main>

      {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
      {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/nodeactions.js"></script>
    <script src="/static/js/tables.js"></script>
    {{ with .Node }}
    <script type="text/javascript">
      // Highlight.js code element initialization
      hljs.initHighlightingOnLoad();

      $(document).ready(function() {
        // Highlight.js code element initialization
        $('code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
        $('pre').each(function(i, block) {
          hljs.highlightBlock(block);
        });

      {{ if eq $template.Logs "db" }}
        // Handle datatable ajax error
        $.fn.dataTable.ext.errMode = function(settings, helpPage, message) {
          console.log(message);
          if (settings.sTableId === "tableStatusLogs") {
            $('#status-card-header').addClass("bg-danger");
          }
          if (settings.sTableId === "tableResultLogs") {
            $('#result-card-header').addClass("bg-danger");
          }
        };
        $.fn.dataTable.ext.ajax;
        var tableStatusLogs = $('#tableStatusLogs').DataTable({
          initComplete : function(settings, json) {
            $('#status-card-header').removeClass("bg-danger");
          },
          pageLength : 25,
          searching : true,
          processing : true,
          ajax : {
            url: "/json/logs/status/{{ .Environment }}/{{ .UUID }}?seconds=" + ($("#back_hours_status").val() * 3600),
            dataSrc: function(json) {
              $('#status-card-header').removeClass("bg-danger");
              return json.data;
            }
          },
          columns : [
            {"data" : {
                _:    "created.display",
                sort: "created.timestamp"
              }
            },
            {"data" : "first"},
            {"data" : "second"}
          ],
          order: [[ 0, "desc" ]],
          columnDefs: [
            { width: '10%', targets: 0 },
            { width: '88%', targets: 1 },
            { width: '2%', targets: 2 }
          ]
        });
        // Display the number of seconds left and refresh for status logs
        var refreshSecondsStatus = 60;
        var timeLeftStatus = refreshSecondsStatus;
        var tableTimerStatus = setInterval(function(){
          if (document.getElementById("status_refresh_value").value === 'yes') {
            timeLeftStatus--;
          }
          document.getElementById("status_refresh_seconds").textContent = timeLeftStatus;
          if (timeLeftStatus <= 0) {
            timeLeftStatus = refreshSecondsStatus;
            tableStatusLogs.ajax.reload();
          }
        },1000);

        var tableResultLogs = $('#tableResultLogs').DataTable({
          initComplete : function(settings, json) {
            $('#result-card-header').removeClass("bg-danger");
          },
          pageLength : 25,
          searching : true,
          processing : true,
          ajax : {
            url: "/json/logs/result/{{ .Environment }}/{{ .UUID }}?seconds=" + (back_output_result.value * 3600),
            dataSrc: function(json) {
              $('#result-card-header').removeClass("bg-danger");
              return json.data;
            }
          },
          columns : [
            {"data" : {
                _:    "created.display",
                sort: "created.timestamp"
              }
            },
            {"data" : "first"},
            {"data" : "second"}
          ],
          order: [[ 0, "desc" ]],
          columnDefs: [
            { width: '10%', targets: 0 },
            { width: '10%', targets: 1 },
            { width: '80%', targets: 2 }
          ]
        });

        // Display the number of seconds left and refresh for result logs
        var refreshSecondsResult = 60;
        var timeLeftResult = refreshSecondsResult;
        var tableTimerResult = setInterval(function(){
          if (document.getElementById("result_refresh_value").value === 'yes') {
            timeLeftResult--;
          }
          document.getElementById("result_refresh_seconds").textContent = timeLeftResult;
          if (timeLeftResult <= 0) {
            timeLeftResult = refreshSecondsResult;
            tableResultLogs.ajax.reload();
          }
        },1000);
      {{ end }}

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);

        // Focus on input when modal opens
        $("#queryModal").on('shown.bs.modal', function(){
          $(this).find('#query').focus();
        });
        // Focus on input when modal opens
        $("#carveModal").on('shown.bs.modal', function(){
          $(this).find('#carve').focus();
        });

        // Maintain open the node's environment toggle
        $("input[value='{{ .Environment }}']").parent().parent().addClass("open");

        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});
      });
    </script>
    {{ end }}

  </body>
</html>
