<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">

            {{ $template := . }}
            {{ with .Node }}

          {{ if $template.Dashboard }}
            <div class="card mt-2">
              <div class="card-header">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <strong> Dashboard for node {{ .Hostname }} </strong>
                {{ range  $i, $t := $template.NodeTags }}
                  <span style="background-color: {{ $t.Color }};" class="badge"><i class="{{ $t.Icon }}"></i> {{ $t.Name }}</span>
                {{ end }}
              </div>
              <div class="card-body">
                <div class="row justify-content-md-center">
                {{ if not $template.Schedule }}
                  <div class="col-md-2">
                    <div class="c-callout c-callout-info">
                      <small class="text-muted">No queries in schedule</small>
                      <div class="row justify-content-md-center">
                        <div class="text-value-lg"><i class="fas fa-exclamation-triangle"></i></div>
                      </div>
                    </div>
                  </div>
                {{ else }}
                  <div class="col-md-2">
                    <div class="c-callout c-callout-info">
                      <small class="text-muted">osquery schedule</small>
                      <div class="row justify-content-md-center">
                        {{ $length_schedule := len $template.Schedule }}
                        <div class="text-value-lg">{{ $length_schedule }}</div>
                        {{ $query_str := "query" }}
                        {{ if gt $length_schedule 1 }}
                          {{ $query_str = "queries" }}
                        {{ end }}
                        <small class="text-muted align-self-end"> {{ $query_str }}</small>
                      </div>
                    </div>
                  </div>
                {{ end }}
                {{ if not $template.Packs }}
                  <div class="col-md-2">
                    <div class="c-callout c-callout-info">
                      <small class="text-muted">No queries in packs</small>
                      <div class="row justify-content-md-center">
                        <div class="text-value-lg"><i class="fas fa-exclamation-triangle"></i></div>
                      </div>
                    </div>
                  </div>
                {{ else }}
                  {{ range  $i, $t := $template.Packs }}
                  <div class="col-md-2">
                    <div class="c-callout c-callout-info">
                      <small class="text-muted">Pack {{ $i }}</small>
                      <div class="row justify-content-md-center">
                        <div class="text-value-lg">{{ len $t.Queries }}</div>
                        <small class="text-muted align-self-end"> queries</small>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                {{ end }}
                </div>
              </div>
            </div>
          {{ end }}

            <div class="card mt-2">
              <div class="card-header">
                <i class="nav-icon fas fa-info-circle"></i>
                <strong> Details of node {{ .Hostname }} </strong>
                {{ range  $i, $t := $template.NodeTags }}
                  <span style="background-color: {{ $t.Color }};" class="badge"><i class="{{ $t.Icon }}"></i> {{ $t.Name }}</span>
                {{ end }}
              </div>
              <div class="card-body">

                <div class="row">

                  <div class="col-md-12">

                    <div class="row float-right">
                      <div class="col-md-12">
                      {{ if eq $metadata.Level "admin" }}
                        <button type="button" class="btn custom-size-btn btn-outline-danger"
                        data-tooltip="true" data-placement="top" title="Remove" onclick="confirmRemoveNodes(['{{ .UUID }}']);">
                          <i class="far fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn custom-size-btn btn-outline-dark"
                        data-tooltip="true" data-placement="top" title="Run Query" onclick="showQueryNodes(['{{ .UUID }}'], '/query/{{ $template.EnvUUID }}/run');">
                          <i class="fab fa-searchengin"></i>
                        </button>
                        <button type="button" class="btn custom-size-btn btn-outline-info"
                        data-tooltip="true" data-placement="top" title="Carve File" onclick="showCarveFiles(['{{ .UUID }}'], '/carve/{{ $template.EnvUUID }}/run');">
                          <i class="fas fa-file-upload"></i>
                        </button>
                        <button type="button" class="btn custom-size-btn btn-outline-warning"
                        data-tooltip="true" data-placement="top" title="Tag Node" onclick="showTagNodes(['{{ .UUID }}']);">
                          <i class="fas fa-tag"></i>
                        </button>
                      {{ end }}
                        <button type="button" class="btn custom-size-btn btn-outline-primary"
                        data-tooltip="true" data-placement="top" title="Refresh" onclick="refreshCurrentNode();">
                          <i class="fas fa-sync-alt"></i>
                        </button>
                      </div>
                    </div>

                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#details" role="tab" aria-controls="details">Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#metadata" role="tab" aria-controls="metadata">Metadata</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#status-logs" role="tab" aria-controls="status-logs">Status Logs</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#result-logs" role="tab" aria-controls="result-logs">Result Logs</a>
                      </li>
                    </ul>

                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="details" role="tabpanel">

                        <div class="row">
                          <div class="col-md-6">

                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Environment</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Environment }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>UUID</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .UUID }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Hostname</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Hostname }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Localname</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Localname }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Platform</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">
                                    {{if eq .Platform "darwin"}}<i class='fab fa-apple'></i> darwin{{end}}
                                    {{if eq .Platform "debian"}}<i class='fl-debian'></i> debian{{end}}
                                    {{if eq .Platform "ubuntu"}}<i class='fl-ubuntu-inverse'></i> ubuntu{{end}}
                                    {{if eq .Platform "centos"}}<i class='fl-centos'></i> centos{{end}}
                                    {{if eq .Platform "rhel"}}<i class='fl-redhat'></i> redhat{{end}}
                                    {{if eq .Platform "amzn"}}<i class='fl-redhat'></i> amzn{{end}}
                                    {{if eq .Platform "fedora"}}<i class='fl-fedora'></i> fedora{{end}}
                                    {{if eq .Platform "windows"}}<i class='fab fa-windows'></i> windows{{end}}
                                    {{if eq .Platform "freebsd"}}<i class='fl-freebsd'></i> freebsd{{end}}
                                    {{if eq .Platform "opensuse"}}<i class='fl-opensuse'></i> opensuse{{end}}
                                    {{if eq .Platform "arch"}}<i class='fl-archlinux'></i> arch{{end}}
                                    {{if eq .Platform "unknown"}}<i class='fa fa-question-circle'></i> unknown{{end}}
                                  - {{ .PlatformVersion }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>IP Address</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .IPAddress }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Last User</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Username }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>CPU</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .CPU }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Memory</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .Memory }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Hardware Serial</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .HardwareSerial }}</p>
                              </div>
                            </div>

                          </div>

                          <div class="col-md-6">

                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Enrolled</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .CreatedAt }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Last Status</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastStatus }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Last Result</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastResult }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Last Config</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastConfig }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Query Read</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastQueryRead }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Query Write</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ pastFutureTimes .LastQueryWrite }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>Data Received</b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ bytesReceivedConversion .BytesReceived }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>
                                  <span class="icon-osquery">
                                  <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> Node Key
                                </b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .NodeKey }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>
                                  <span class="icon-osquery">
                                  <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> User / Version
                                </b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .OsqueryUser }} - osquery {{ .OsqueryVersion }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>
                                  <span class="icon-osquery">
                                    <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> Config Hash
                                </b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .ConfigHash }}</p>
                              </div>
                            </div>
                            <div class="row">
                              <label class="col-md-3 col-form-label">
                                <small><b>
                                  <span class="icon-osquery">
                                    <span class="path1"></span><span class="path2"></span><span class="path3"></span></span> osqueryd MD5
                                </b></small>
                              </label>
                              <div class="col-md-9 col-form-label">
                                <p class="form-control-static">{{ .DaemonHash }}</p>
                              </div>
                            </div>

                          </div>

                        </div>

                      </div>

                      <div class="tab-pane fade" id="metadata" role="tabpanel">

                        <div class="row mb-4">
                          <div class="col-md-12">
                            <div class="highlight">
                              <pre id="metadata-json" class="json">{{ jsonRawIndent .RawEnrollment }}</pre>
                            </div>

                          </div>

                        </div>

                      </div>

                      <div class="tab-pane fade" id="status-logs" role="tabpanel">
                        <div class="card mt-2">
                          <div id="status-card-header" class="card-header">
                            <i class="fas fa-stream"></i>
                            <label for="back_hours_status">Last <b><output id="back_output_status">6</output></b> hours of status logs for node {{ .UUID }}</label>
                            <a href="#status-logs" target="_blank">
                              <i class="fas fa-external-link-alt"></i>
                            </a>
                            <!--
                            <input type="range" class="form-control-range" id="back_hours_status"
                            value="6" min="1" max="24" step="1" oninput="changeBackValue('tableStatusLogs', back_hours_status, back_output_status);">
                            -->
                            <div class="card-header-actions">
                              <small>Refresh in <span id="status_refresh_seconds">60</span> seconds</small>
                              <button id="status_refresh_pause" class="btn btn-sm btn-outline-dark" data-tooltip="true"
                                data-placement="bottom" title="Pause refresh" onclick="changeTableRefresh('status_refresh_value', 'status_refresh_pause');">
                                <i class="fas fa-pause"></i>
                              </button>
                              <button id="status_reload" class="btn btn-sm btn-outline-primary" data-tooltip="true"
                                data-placement="bottom" title="Refresh table" onclick="refreshTableNow('tableStatusLogs');">
                                <i class="fas fa-sync-alt"></i>
                              </button>
                            </div>
                          </div>
                          <div id="status-table" class="card-body table-responsive">
                            <table id="tableStatusLogs" class="table table-bordered table-striped" style="width:100%">
                              <input type="hidden" id="status_refresh_value" value="yes">
                              <thead>
                                <tr>
                                  <th>Created</th>
                                  <th>Message</th>
                                  <th>Severity</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane fade" id="result-logs" role="tabpanel">
                        <div class="card mt-2">
                          <div id="result-card-header" class="card-header">
                            <i class="fas fa-stream"></i>
                            <label for="back_hours_result">Last <b><output id="back_output_result">6</output></b> hours of status logs for node {{ .UUID }}</label>
                            <a href="#result-logs" target="_blank">
                              <i class="fas fa-external-link-alt"></i>
                            </a>
                            <!--
                            <input type="range" class="form-control-range" id="back_hours_result"
                            value="6" min="1" max="24" step="1" oninput="changeBackValue('tableResultLogs', back_hours_result, back_output_result);">
                            -->
                            <div class="card-header-actions">
                              <small>Refresh in <span id="result_refresh_seconds">60</span> seconds</small>
                              <button id="result_refresh_pause" class="btn btn-sm btn-outline-dark" data-tooltip="true"
                                data-placement="bottom" title="Pause refresh" onclick="changeTableRefresh('result_refresh_value', 'result_refresh_pause');">
                                <i class="fas fa-pause"></i>
                              </button>
                              <button id="result_reload" class="btn btn-sm btn-outline-primary" data-tooltip="true"
                              data-placement="bottom" title="Refresh table" onclick="refreshTableNow('tableResultLogs');">
                                <i class="fas fa-sync-alt"></i>
                              </button>
                            </div>
                          </div>
                          <div id="results-table" class="card-body table-responsive">
                            <table id="tableResultLogs" class="table table-bordered table-striped" style="width:100%">
                              <input type="hidden" id="result_refresh_value" value="yes">
                              <thead>
                                <tr>
                                  <th>Created</th>
                                  <th>Name</th>
                                  <th>Columns</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>

              </div>
            </div>

            {{ template "page-modals" . }}

            <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add / remove tags</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <select style="display: none;" name="remove_tags[]" id="remove_tags">
                    </select>
                    <select style="display: none;" name="add_tags[]" id="add_tags">
                    </select>
                    <select style="width: 100%;" name="modal_tags[]" id="modal_tags" multiple="multiple">
                    {{ range  $i, $e := $template.TagsForNode }}
                      {{ if $e.Tagged }}
                        <option selected="true" value="{{ $e.Tag.Name }}">{{ $e.Tag.Name }}</option>
                      {{ else }}
                        <option value="{{ $e.Tag.Name }}">{{ $e.Tag.Name }}</option>
                      {{ end }}
                    {{ end }}
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button id="tag_action" type="button" class="btn btn-dark" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            {{ end }}

          </div>
        </div>

      </main>

      {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
      {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/nodeactions.js"></script>
    <script src="/static/js/tables.js"></script>
    {{ with .Node }}
    <script type="text/javascript">
      // Highlight.js code element initialization
      hljs.initHighlightingOnLoad();

      $(document).ready(function() {
        // Highlight.js code element initialization
        $('code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
        $('pre').each(function(i, block) {
          hljs.highlightBlock(block);
        });

        // Handle datatable ajax error
        $.fn.dataTable.ext.errMode = function(settings, helpPage, message) {
          console.log(message);
          if (settings.sTableId === "tableStatusLogs") {
            $('#status-card-header').addClass("bg-danger");
          }
          if (settings.sTableId === "tableResultLogs") {
            $('#result-card-header').addClass("bg-danger");
          }
        };
        $.fn.dataTable.ext.ajax;
        var tableStatusLogs = $('#tableStatusLogs').DataTable({
          initComplete : function(settings, json) {
            $('#status-card-header').removeClass("bg-danger");
          },
          pageLength : 25,
          searching : true,
          processing : true,
          ajax : {
            url: "/json/logs/status/{{ .Environment }}/{{ .UUID }}?seconds=" + ($("#back_hours_status").val() * 3600),
            dataSrc: function(json) {
              $('#status-card-header').removeClass("bg-danger");
              return json.data;
            }
          },
          columns : [
            {"data" : {
                _:    "created.display",
                sort: "created.timestamp"
              }
            },
            {"data" : "first"},
            {"data" : "second"}
          ],
          order: [[ 0, "desc" ]],
          columnDefs: [
            { width: '10%', targets: 0 },
            {
              width: '88%',
              targets: 1,
              render: function (data, type, row, meta) {
                if (type === 'display') {
                  return '<pre>' + data + '</pre>';
                } else {
                  return data;
                }
              }
            },
            { width: '2%', targets: 2 }
          ]
        });
        // Display the number of seconds left and refresh for status logs
        var refreshSecondsStatus = 60;
        var timeLeftStatus = refreshSecondsStatus;
        var tableTimerStatus = setInterval(function(){
          if (document.getElementById("status_refresh_value").value === 'yes') {
            timeLeftStatus--;
          }
          document.getElementById("status_refresh_seconds").textContent = timeLeftStatus;
          if (timeLeftStatus <= 0) {
            timeLeftStatus = refreshSecondsStatus;
            tableStatusLogs.ajax.reload();
          }
        },1000);

        var tableResultLogs = $('#tableResultLogs').DataTable({
          initComplete : function(settings, json) {
            $('#result-card-header').removeClass("bg-danger");
          },
          pageLength : 25,
          searching : true,
          processing : true,
          ajax : {
            url: "/json/logs/result/{{ .Environment }}/{{ .UUID }}?seconds=" + (back_output_result.value * 3600),
            dataSrc: function(json) {
              $('#result-card-header').removeClass("bg-danger");
              return json.data;
            }
          },
          columns : [
            {"data" : {
                _:    "created.display",
                sort: "created.timestamp"
              }
            },
            {"data" : "first"},
            {"data" : "second"}
          ],
          order: [[ 0, "desc" ]],
          columnDefs: [
            { width: '10%', targets: 0 },
            { width: '10%', targets: 1 },
            {
              width: '80%',
              targets: 2,
              render: function (data, type, row, meta) {
                if (type === 'display') {
                  return '<pre>' + JSON.stringify(JSON.parse(data),null,2); + '</pre>';
                } else {
                  return data;
                }
              }
            }
          ]
        });

        // Display the number of seconds left and refresh for result logs
        var refreshSecondsResult = 60;
        var timeLeftResult = refreshSecondsResult;
        var tableTimerResult = setInterval(function(){
          if (document.getElementById("result_refresh_value").value === 'yes') {
            timeLeftResult--;
          }
          document.getElementById("result_refresh_seconds").textContent = timeLeftResult;
          if (timeLeftResult <= 0) {
            timeLeftResult = refreshSecondsResult;
            tableResultLogs.ajax.reload();
          }
        },1000);

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);

        // Focus on input when modal opens
        $("#queryModal").on('shown.bs.modal', function(){
          $(this).find('#query').focus();
        });
        // Focus on input when modal opens
        $("#carveModal").on('shown.bs.modal', function(){
          $(this).find('#carve').focus();
        });

        // Select2 initialization
        var tagsSelect = $('#modal_tags').select2({
          theme: "classic"
        });
        tagsSelect.on("select2:select", function(e){
          $('#add_tags').append(new Option(e.params.data.text, e.params.data.text));
        });
        tagsSelect.on("select2:unselect", function(e){
          $('#remove_tags').append(new Option(e.params.data.text, e.params.data.text));
        });

        // Maintain open the node's environment toggle
        $("input[value='{{ .Environment }}']").parent().parent().addClass("open");

        // Display log tab if passed in the URL
        $(function(){
          var hash = window.location.hash;
          hash && $('ul.nav a[href="' + hash + '"]').tab('show');
        });

        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});

        // Open this environment dropdown
        $('#dropdown-env-{{ .Environment }}').addClass("open");
      });
    </script>
    {{ end }}

  </body>
</html>
