<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">


            <div class="card mt-2">

            <!--
              <div class="warning-back stripes-warning text-center">
                <h5 class="warning-text">
                  <b>CAUTION:</b> Changes made to this page may break the {{ .Service }} service
                </h5>
              </div>
            -->

              <div class="card-header">
                <i class="fas fa-tools"></i> Settings for <b>{{ .Service }}</b> Service

                <div class="card-header-actions">
                  <div class="row">
                    <div class="card-header-action mr-3">
                      <button id="settings_add" class="btn btn-sm btn-block btn-dark"
                        data-tooltip="true" data-placement="bottom" title="Add Value" onclick="addSetting();">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </div>

              <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped text-center">
                  <thead>
                    <tr>
                      <th width="20%">Name</th>
                      <th width="20%">Type</th>
                      <th width="50%">Value</th>
                      <th width="10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {{range  $i, $e := $.CurrentSettings}}
                    <tr>
                      <td>{{ $e.Name }}</td>
                      <td>{{ $e.Type }}</td>
                      {{ if eq $e.Type "integer" }}
                      <td>
                        <p id="{{ $e.Name }}" data-tooltip="true" data-type="{{ $e.Type }}" class="editable-field" role="button" tabindex="0" title="Click to edit...">{{ $e.Integer }}</p>
                      </td>
                      {{ end }}
                      {{ if eq $e.Type "string" }}
                      <td>
                        <p id="{{ $e.Name }}" data-tooltip="true" data-type="{{ $e.Type }}" class="editable-field" role="button" tabindex="0" title="Click to edit...">{{ $e.String }}</p>
                      </td>
                      {{ end }}
                      {{ if eq $e.Type "boolean" }}
                      <td>
                        <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="top" title="Change">
                          <input id="{{ $e.Name }}" class="switch-input" type="checkbox" onclick="changeBooleanSetting('{{ $e.Name }}');" {{ if $e.Boolean }} checked {{ end }}>
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </td>
                      {{ end }}
                      <td>
                        <button type="button" class="btn btn-sm btn-ghost-danger" onclick="confirmDeleteSetting('{{ $e.Name }}');">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  {{ end }}
                  </tbody>
                </table>
              </div>

            </div>

            <div class="card mt-2">

              <div class="card-header">
                <i class="fas fa-tools"></i> <b>{{ .Service }}.json</b>
              </div>

              <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped text-center">
                  <tbody>
                    <tr>
                      <td>Listener</td>
                      <td><code>{{ .ServiceConfig.Listener }}</code></td>
                    </tr>
                    <tr>
                      <td>Port</td>
                      <td><code>{{ .ServiceConfig.Port }}</code></td>
                    </tr>
                    <tr>
                      <td>Host</td>
                      <td><code>{{ .ServiceConfig.Host }}</code></td>
                    </tr>
                    <tr>
                      <td>Auth</td>
                      <td><code>{{ .ServiceConfig.Auth }}</code></td>
                    </tr>
                    <tr>
                      <td>Logging</td>
                      <td><code>{{ .ServiceConfig.Logging }}</code></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="modal fade" id="addSettingModal" tabindex="-1" role="dialog" aria-labelledby="addSettingModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add new setting</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="setting_name">Name: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="setting_name" id="setting_name" type="text" autocomplete="off"
                          autofocus>
                      </div>
                      <label class="col-md-2 col-form-label" for="setting_type">Type: </label>
                      <div class="col-md-4">
                        <select class="form-control" id="setting_type" name="setting_type">
                          <option value="integer">Integer</option>
                          <option value="boolean">Boolean</option>
                          <option value="string">String</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="setting_value">Value: </label>
                      <div class="col-md-10">
                        <input class="form-control" name="setting_value" id="setting_value" type="text" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmAddSetting();">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
      {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script type="text/javascript">
      $(document).ready(function() {
        // Editable fields
        $(".editable-field").editable(function(value, settings) {
			    var data = {
            csrftoken: $("#csrftoken").val(),
            action: 'change',
            name: $(this).attr('id'),
            type: $(this).attr('data-type'),
            value: value,
          };
          sendPostRequest(data, window.location.pathname, '', false);
          return value;
		    }, {
          indicator : "<img src='/static/img/spinner.svg' />",
          type : "text",
          onedit : function() { return true;},
          cancel : 'Cancel',
          cssclass : 'editable-class',
          cancelcssclass : 'btn btn-danger',
          submitcssclass : 'btn btn-success',
          maxlength : 200,
          // select all text
          select : true,
          label : '',
          showfn : function(elem) { elem.fadeIn('slow') },
          submit : 'Save',
          tooltip : "Click to edit...",
          width : 160
        });

        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);

        // Focus on input when modal opens
        $("#addSettingModal").on('shown.bs.modal', function(){
          $(this).find('#setting_name').focus();
        });
      });
    </script>
  </body>
</html>
