<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">

            <div class="card mt-2">
              <div class="card-header">
                <i class="fa fas fa-server"></i> Table of {{ .Target }} Nodes by {{ .Selector }} : <b>{{ .SelectorName }}</b>
                <div class="card-header-actions">
                  <small>Refresh in <span id="refresh_seconds">30</span> seconds</small>
                  <button id="refresh_pause" class="btn btn-sm btn-outline-dark" data-tooltip="true"
                    data-placement="bottom" title="Pause refresh" onclick="changeTableRefresh('refresh_value', 'refresh_pause');">
                    <i class="fas fa-pause"></i>
                  </button>
                  <button class="btn btn-sm btn-outline-primary" data-tooltip="true"
                    data-placement="bottom" title="Refresh nodes" onclick="refreshTableNow('tableNodes');">
                    <i class="fas fa-sync-alt"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">

                <table id="tableNodes" class="table table-responsive table-bordered table-striped" style="width:100%">
                  <input type="hidden" id="refresh_value" value="yes">
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" name="select-all" value="1" id="select-all">
                      </th>
                      <th>UUID</th>
                      <th>Last User</th>
                      <th>Localname</th>
                      <th>IP Address</th>
                      <th>Platform</th>
                      <th>Version</th>
                      <th>
                        <span class="icon-osquery">
                          <span class="path1"></span><span class="path2"></span><span class="path3"></span></span></th>
                      <th>Last Seen</th>
                      <th>First Seen</th>
                    </tr>
                  </thead>
                </table>

              </div>
            </div>

          {{ template "page-modals" . }}

          <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dark" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Tag nodes</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <select style="display: none;" name="add_tags[]" id="add_tags">
                    </select>
                    <select style="width: 100%;" name="modal_tags[]" id="modal_tags" multiple="multiple">
                    {{ range  $i, $e := $.Tags }}
                        <option value="{{ $e.Name }}">{{ $e.Name }}</option>
                    {{ end }}
                    </select>
                </div>
                <div class="modal-footer">
                  <button id="tag_action" type="button" class="btn btn-dark" data-dismiss="modal">Tag</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          </div>

        </div>

      </main>

    {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
    {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/login.js"></script>
    <script src="/static/js/nodeactions.js"></script>
    <script src="/static/js/tables.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $.fn.dataTable.ext.errMode = function(settings, helpPage, message) {
          console.log(message);
          $('.card-header').addClass("bg-danger");
        };
        $.fn.dataTable.ext.ajax;
        var tableNodes = $('#tableNodes').DataTable({
          initComplete : function(settings, json) {
            $('.card-header').removeClass("bg-danger");
          },
          pageLength : 25,
          searching : true,
          dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12 col-md-4'B><'col-sm-12 col-md-4 text-center'i><'col-sm-12 col-md-4'p>>",
          processing : true,
          order : [[ 8, "desc" ]],
          ajax : {
            url: "/json/{{ .Selector }}/{{ .SelectorName }}/{{ .Target }}",
            dataSrc: function(json) {
              $('.card-header').removeClass("bg-danger");
              return json.data;
            }
          },
          columns : [
            {"data" : "checkbox"},
            {"data" : "uuid"},
            {"data" : "username"},
            {"data" : "localname"},
            {"data" : "ip"},
            {"data" : "platform"},
            {"data" : "version"},
            {"data" : "osquery"},
            {"data" : {
                _:    "lastseen.display",
                sort: "lastseen.timestamp"
              }
            },
            {"data" : {
                _:    "firstseen.display",
                sort: "firstseen.timestamp"
              }
            }
          ],
          columnDefs: [
            {
              targets:   0,
              className: 'select-checkbox',
              width: '1%',
              data: 'checkbox',
              searchable:  false,
              orderable:   false
            },{
              targets: 1,
              width: '20%',
              data: 'uuid',
              render: function (data, type, row, meta) {
                if (type === 'display') {
                  return '<a href="/node/'+data+'">' + data + '</a>';
                } else {
                  return data;
                }
              }
            },{
              targets: 2,
              data: 'username',
              width: '3%'
            },{
              targets: 3,
              data: 'localname',
              width: '5%'
            },{
              targets: 4,
              data: 'ip',
              width: '3%'
            },{
              targets: 5,
              data: 'platform',
              width: '5%',
              render: function(data, type, row, meta) {
                if (type === 'display') {
                  switch(data) {
                  case "ubuntu":
                    return '<i class="fl-ubuntu-inverse"></i> ubuntu';
                  case "debian":
                    return '<i class="fl-debian"></i> debian';
                  case "arch":
                    return '<i class="fl-archlinux"></i> arch';
                  case "unknown":
                    return '<i class="fa fa-question-circle"></i> unknown';
                  case "darwin":
                    return '<i class="fab fa-apple"></i> darwin';
                  case "centos":
                    return '<i class="fl-centos"></i> centos';
                  case "rhel":
                    return '<i class="fl-redhat"></i> redhat';
                  case "fedora":
                    return '<i class="fl-fedora"></i> fedora';
                  case "windows":
                    return '<i class="fab fa-windows"></i> windows';
                  case "freebsd":
                    return '<i class="fl-freebsd"></i> freebsd';
                  case "opensuse":
                    return '<i class="fl-opensuse"></i> opensuse';
                  }
                } else {
                  return data;
                }
              }
            },{ targets: 6, width: '15%' },
              { targets: 7, width: '3%' },
              { targets: 8, width: '10%'},
              { targets: 9, width: '10%'}
          ],
          select: {
            style:    'os',
            selector: 'td:first-child'
          },
        {{ if eq $metadata.Level "admin" }}
          buttons: [
            {
              className: 'btn custom-size-btn btn-outline-danger',
              text: '<i class="far fa-trash-alt"></i>',
              titleAttr: 'Remove Nodes',
              attr:  {
                'data-tooltip':  'true',
                'data-placement': 'bottom'
              },
              init: function(api, node, config) {
                $(node).removeClass('dt-button');
              },
              action: function(e, dt, node, config) {
                var uuids = [];
                $.each(tableNodes.rows({search:'applied', selected: true}).data(), function() {
                  uuids.push(this.uuid);
                });
                if (uuids.length > 0) {
                  confirmRemoveNodes(uuids);
                } else {
                  console.log('Delete: NO SELECTION');
                  $("#warningModalMessage").text("You must select one or more nodes");
                  $("#warningModal").modal();
                }
              }
            },
            {
              className: 'btn custom-size-btn btn-outline-warning',
              text: '<i class="fas fa-tag"></i>',
              titleAttr: 'Tag Nodes',
              attr:  {
                'data-tooltip':  'true',
                'data-placement': 'bottom'
              },
              init: function(api, node, config) {
                $(node).removeClass('dt-button');
              },
              action: function(e, dt, node, config) {
                var uuids = [];
                $.each(tableNodes.rows({search:'applied', selected: true}).data(), function() {
                  uuids.push(this.uuid);
                });
                if (uuids.length > 0) {
                  showTagNodes(uuids);
                } else {
                  console.log('Tag: NO SELECTION');
                  $("#warningModalMessage").text("You must select one or more nodes");
                  $("#warningModal").modal();
                }
              }
            },
            {
              className: 'btn custom-size-btn btn-outline-dark',
              text: '<i class="fab fa-searchengin"></i>',
              titleAttr: 'Run Query',
              attr:  {
                'data-tooltip':  'true',
                'data-placement': 'bottom'
              },
              init: function(api, node, config) {
                $(node).removeClass('dt-button');
              },
              action: function(e, dt, node, config) {
                var uuids = [];
                $.each(tableNodes.rows({search:'applied', selected: true}).data(), function() {
                  uuids.push(this.uuid);
                });
                if (uuids.length > 0) {
                  showQueryNodes(uuids);
                } else {
                  console.log('Query: NO SELECTION');
                  $("#warningModalMessage").text("You must select one or more nodes");
                  $("#warningModal").modal();
                }
              }
            },
            {
              className: 'btn custom-size-btn btn-outline-info',
              text: '<i class="fas fa-file-upload"></i>',
              titleAttr: 'Carve File',
              attr:  {
                'data-tooltip':  'true',
                'data-placement': 'bottom'
              },
              init: function(api, node, config) {
                $(node).removeClass('dt-button');
              },
              action: function(e, dt, node, config) {
                var uuids = [];
                $.each(tableNodes.rows({search:'applied', selected: true}).data(), function() {
                  uuids.push(this.uuid);
                });
                if (uuids.length > 0) {
                  showCarveFiles(uuids);
                } else {
                  console.log('Carve: NO SELECTION');
                  $("#warningModalMessage").text("You must select one or more nodes");
                  $("#warningModal").modal();
                }
              }
            }
          ]
        {{ else }}
          buttons: []
        {{ end }}
        });

        // Select and deselect all
        tableNodes.on("click", "th.select-checkbox", function() {
          if ($("th.select-checkbox").hasClass("selected")) {
            tableNodes.rows({search:'applied'}).deselect();
            $("th.select-checkbox").removeClass("selected");
          } else {
            tableNodes.rows({search:'applied'}).select();
            $("th.select-checkbox").addClass("selected");
          }
        }).on("select deselect", function() {
          ("Some selection or deselection going on")
          if (tableNodes.rows({
            selected: true,
            search: 'applied'
          }).count() !== tableNodes.rows({search:'applied'}).count()) {
            $("th.select-checkbox").removeClass("selected");
          } else {
            $("th.select-checkbox").addClass("selected");
          }
        });

        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});

        // Display the number of seconds left and refresh
        var refreshSeconds = 30;
        var timeleft = refreshSeconds;
        var tableTimer = setInterval(function(){
          if (document.getElementById("refresh_value").value === 'yes') {
            timeleft--;
          }
          document.getElementById("refresh_seconds").textContent = timeleft;
          if(timeleft <= 0) {
            timeleft = refreshSeconds;
            tableNodes.ajax.reload();
          }
        },1000);

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);

        // Focus on input when modal opens
        $("#queryModal").on('shown.bs.modal', function(){
          $(this).find('#query').focus();
        });
        // Focus on input when modal opens
        $("#carveModal").on('shown.bs.modal', function(){
          $(this).find('#carve').focus();
        });

        // Select2 initialization
        var tagsSelect = $('#modal_tags').select2({
          theme: "classic"
        });
        tagsSelect.on("select2:select", function(e){
          $('#add_tags').append(new Option(e.params.data.text, e.params.data.text));
        });
      });
    </script>

  </body>
</html>
