<!DOCTYPE html>
<html lang="en">

  {{ $metadata := .Metadata }}

  {{ template "page-head" . }}

  <body class="app header-fixed sidebar-fixed sidebar-lg-show">

    {{ template "page-header" . }}

    <div class="app-body">

      {{ template "page-aside-left" . }}

      <main class="main">

        <div class="container-fluid">

          <div class="animated fadeIn">


            <div class="card mt-2">
              <div class="card-header">
                <i class="fas fa-user-cog"></i> System Users

                <div class="card-header-actions">
                  <div class="row">
                    <div class="card-header-action mr-3">
                      <button id="users_add" class="btn btn-sm btn-block btn-dark"
                        data-tooltip="true" data-placement="bottom" title="Add User" onclick="addUser();">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </div>

              <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped text-center">
                  <thead>
                    <tr>
                      <th width="10%">Username</th>
                      <th width="15%">Email</th>
                      <th width="10%">Fullname</th>
                      <th width="10%">Last IP</th>
                      <th width="25%">Last UserAgent</th>
                      <th width="5%">Admin</th>
                      <th width="15%">Last Session</th>
                      <th width="10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {{range  $i, $e := $.CurrentUsers}}
                    <tr>
                      <td>{{ $e.Username }}</td>
                      <td>
                        <p id="email" data-tooltip="true" data-user="{{ $e.Username }}" class="editable-field" role="button" tabindex="0" title="Click to edit...">{{ $e.Email }}</p>
                      </td>
                      <td>
                        <p id="fullname" data-tooltip="true" data-user="{{ $e.Username }}" class="editable-field" role="button" tabindex="0" title="Click to edit...">{{ $e.Fullname }}</p>
                      </td>
                      <td>
                        <p id="environment" data-tooltip="true" data-user="{{ $e.Username }}" class="editable-field" role="button" tabindex="0" title="Click to edit...">{{ $e.DefaultEnv }}</p>
                      </td>
                      <td>
                      {{ if eq $e.LastIPAddress "" }}
                        None
                      {{ else }}
                        {{ $e.LastIPAddress }}
                      {{ end }}
                      </td>
                      <td><code>
                      {{ if eq $e.LastUserAgent "" }}
                        None
                      {{ else }}
                        {{ $e.LastUserAgent }}
                      {{ end }}
                      </code></td>
                      <td>
                        <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="top" title="Change">
                          <input id="{{ $e.Username }}" class="switch-input" type="checkbox" onclick="changeAdminUser('{{ $e.Username }}');" {{ if $e.Admin }} checked {{ end }}>
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </td>
                      <td>{{ pastFutureTimes $e.LastAccess }}</td>
                      <td>
                        <button type="button" class="btn btn-sm btn-ghost-info" data-tooltip="true" data-placement="top" title="API Token"
                        onclick="showAPIToken('{{ $e.APIToken }}', '{{ pastFutureTimes $e.TokenExpire }}', '{{ $e.Username }}');">
                          <i class="fas fa-key"></i>
                        </button>
                        <button id="permissions-button-{{ $e.Username }}" type="button" class="btn btn-sm btn-ghost-primary" data-tooltip="true" data-placement="top" title="Permissions"
                          onclick="showPermissions('{{ $e.Username }}');">
                          <i class="fas fa-lock"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-ghost-danger" data-tooltip="true" data-placement="top" title="Delete User"
                        onclick="confirmDeleteUser('{{ $e.Username }}');">
                          <i class="far fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-ghost-warning" data-tooltip="true" data-placement="top" title="Change Password"
                        onclick="changePassword('{{ $e.Username }}');">
                          <i class="fas fa-user-lock"></i>
                        </button>
                      </td>
                    </tr>
                  {{ end }}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add new user</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="user_username">Username: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="user_username" id="user_username" type="text" autocomplete="off" autofocus>
                      </div>
                      <label class="col-md-2 col-form-label" for="user_password">Password: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="user_password" id="user_password" type="password" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="user_email">Email: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="user_email" id="user_email" type="text" autocomplete="off">
                      </div>
                      <label class="col-md-2 col-form-label" for="user_fullname">Fullname: </label>
                      <div class="col-md-4">
                        <input class="form-control" name="user_fullname" id="user_fullname" type="text" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-1 col-form-label" for="user_admin">Admin: </label>
                      <div class="col-md-2">
                        <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="top" title="Change">
                          <input id="user_admin" class="switch-input" type="checkbox">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </div>
                      <label class="col-md-1 col-form-label" for="user_token">API: </label>
                      <div class="col-md-2">
                        <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="top" title="Change">
                          <input id="user_token" class="switch-input" type="checkbox">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </div>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmAddUser();">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="modal fade" id="apiTokenModal" tabindex="-1" role="dialog" aria-labelledby="apiTokenModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">API Token</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="user_api_token">API Token: </label>
                      <div class="col-md-10">
                        <input class="form-control" name="user_api_token" id="user_api_token" type="text" autocomplete="off" readonly>
                      </div>
                      <button id="button-clipboard-sh" class="btn-sm btn-clipboard mr-2" data-clipboard-action="copy" data-clipboard-target="#user_api_token">Copy</button>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label" for="user_token_expiration">Expiration: </label>
                      <div class="col-md-10">
                        <input class="form-control" name="user_token_expiration" id="user_token_expiration" type="text" autocomplete="off" readonly>
                      </div>
                      <input type="hidden" id="user_token_username" value="">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="refreshTokenButton" type="button" class="btn btn-primary" onclick="refreshUserToken();">Refresh</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
              <div class="modal-dialog modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 id="change_password_header" class="modal-title">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="new_password">New Password: </label>
                      <div class="col-md-8">
                        <input class="form-control" name="new_password" id="new_password" type="password" autocomplete="off">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label id="confirm_password_label" class="col-md-4 col-form-label" for="confirm_password">Confirm Password: </label>
                      <div class="col-md-8">
                        <input class="form-control" name="confirm_password" id="confirm_password" type="password" autocomplete="off">
                        <small id="confirm_password_help" class="text-danger"></small>
                      </div>
                    </div>
                    <input type="hidden" id="change_password_username" value="">
                  </div>
                  <div class="modal-footer">
                    <button id="changePasswordButton" type="button" class="btn btn-primary" onclick="confirmChangePassword();">Change Password</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <div class="modal fade" id="permissionsModal" tabindex="-1" role="dialog" aria-labelledby="permissionsModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dark" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">User Permissions</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <table class="table table-responsive-sm table-bordered table-striped text-center">
                        <thead>
                          <tr>
                            <th width="20%">Environment</th>
                            <th width="20%">Read</th>
                            <th width="20%">Query</th>
                            <th width="20%">Carve</th>
                            <th width="20%">Admin</th>
                          </tr>
                        </thead>
                        <tbody>
                        {{range  $i, $e := $.Environments}}
                          <tr>
                            <td>
                              <div class="row">
                                <div class="col-md-12 centered">
                                  <b>{{ $e.Name }}</b>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="row">
                                <div class="col-md-12 centered">
                                  <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="top" title="Change">
                                    <input id="{{ $e.Name }}-permission-read" class="switch-input {{ $e.UUID }}-env" type="checkbox" onclick="savePermissions('{{ $e.Name }}-permission');">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                  </label>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="row">
                                <div class="col-md-12 centered">
                                  <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="top" title="Change">
                                    <input id="{{ $e.Name }}-permission-query" class="switch-input {{ $e.UUID }}-env" type="checkbox" onclick="savePermissions('{{ $e.Name }}-permission');">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                  </label>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="row">
                                <div class="col-md-12 centered">
                                  <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="top" title="Change">
                                    <input id="{{ $e.Name }}-permission-carve" class="switch-input {{ $e.UUID }}-env" type="checkbox" onclick="savePermissions('{{ $e.Name }}-permission');">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                  </label>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="row">
                                <div class="col-md-12 centered">
                                  <label class="switch switch-label switch-pill switch-success switch-sm" data-tooltip="true" data-placement="top" title="Change">
                                    <input id="{{ $e.Name }}-permission-admin" class="switch-input {{ $e.UUID }}-env" type="checkbox" onclick="savePermissions('{{ $e.Name }}-permission');">
                                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                                  </label>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <input type="hidden" id="{{ $e.Name }}-permission-env" value="{{ $e.UUID }}">
                        {{ end }}
                        </tbody>
                      </table>
                      <input type="hidden" id="username_permissions" value="">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

          {{ template "page-modals" . }}

        </div>

      </main>

      {{ if eq $metadata.Level "admin" }}
        {{ template "page-aside-right" . }}
      {{ end }}

    </div>

    {{ template "page-js" . }}

    <!-- custom JS -->
    <script src="/static/js/users.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Editable fields
        $(".editable-field").editable(function(value, settings) {
			    var data = {
            csrftoken: $("#csrftoken").val(),
            action: 'edit',
            username: $(this).attr('data-user'),
          };
          var type_edit = $(this).attr('id');
          if (type_edit === 'email') {
            data.email = value;
          }
          if (type_edit === 'fullname') {
            data.fullname = value;
          }
          if (type_edit === 'environment') {
            data.environment = value;
          }
          console.log(settings);
          sendPostRequest(data, window.location.pathname, '', false);
          return value;
		    }, {
          indicator : "<img src='/static/img/spinner.svg' />",
          type : "text",
          onedit : function() { return true;},
          cancel : 'Cancel',
          cssclass : 'editable-class',
          cancelcssclass : 'btn btn-danger',
          submitcssclass : 'btn btn-success',
          maxlength : 200,
          // select all text
          select : true,
          label : '',
          showfn : function(elem) { elem.fadeIn('slow') },
          submit : 'Save',
          tooltip : "Click to edit...",
          width : 160
        });
        // Enable all tooltips
        $('[data-tooltip="true"]').tooltip({trigger : 'hover'});

        // Select2 initialization
        $('#default_env').select2({
          theme: "classic"
        });

        // Clipboard.js initialization
        var clipboard_sh = new ClipboardJS('#button-clipboard-sh');
        clipboard_sh.on('success', function(e) {
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);
          $(e.trigger).text('Copied!');
          e.clearSelection();
          setTimeout(function() {
            $(e.trigger).text('Copy');
          }, 2500);
        });
        clipboard_sh.on('error', function(e) {
          $(e.trigger).text('Error');
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });
        var clipboard_ps = new ClipboardJS('#button-clipboard-ps');
        clipboard_ps.on('success', function(e) {
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);
          $(e.trigger).text('Copied!');
          e.clearSelection();
          setTimeout(function() {
            $(e.trigger).text('Copy');
          }, 2500);
        });
        clipboard_ps.on('error', function(e) {
          $(e.trigger).text('Error');
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });
        var clipboard_values = new ClipboardJS('#button-clipboard-values');
        clipboard_values.on('success', function(e) {
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);
          $(e.trigger).text('Copied!');
          e.clearSelection();
          setTimeout(function() {
            $(e.trigger).text('Copy');
          }, 2500);
        });
        clipboard_values.on('error', function(e) {
          $(e.trigger).text('Error');
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
        });

        // Refresh sidebar stats
        beginStats();
        var statsTimer = setInterval(function(){
          beginStats();
        },60000);

        // Focus on input when modal opens
        $("#addUserModal").on('shown.bs.modal', function(){
          $(this).find('#user_username').focus();
        });
        $("#changePasswordModal").on('shown.bs.modal', function(){
          $(this).find('#new_password').focus();
        });
        // Check passwords match
        $("#confirm_password").keyup(function (event) {
          var newPassword = $("#new_password").val();
          var confirmPassword = $("#confirm_password").val();
          if (newPassword !== confirmPassword) {
            $("#confirm_password_help").text("Passwords don't match.");
            $("#confirm_password").addClass('is-invalid');
            $("#confirm_password_label").addClass('text-danger');
            $("#changePasswordButton").prop("disabled", true);
          } else {
            $("#confirm_password_help").text("");
            $("#confirm_password").removeClass('is-invalid');
            $("#confirm_password_label").removeClass('text-danger');
            $("#changePasswordButton").prop("disabled", false);
          }
        });
      });
    </script>
  </body>
</html>
