{
  "data": [
  {{range  $i, $e := .}}
    {{ if $i }}, {{ end }}
    {
      "checkbox" : "",
      "name": "<a href='{{ resultsSearchLink $e.Name }}'>{{ removeBackslash $e.Name }}</a>",
      "creator": "{{ removeBackslash $e.Creator }}",
      "query": "<span style='font-family: monospace;'>{{ removeBackslash $e.Query }}</span>",
      "created": "{{ pastTimeAgo $e.CreatedAt }}",
      {{ if $e.Active }}"status": "ACTIVE",{{end}}
      {{ if $e.Completed }}"status": "DONE",{{end}}
      "progress": "<span style='color: green;'>{{ $e.Executions }}</span>/<span style='color: red;'>{{ $e.Errors }}</span>"
    }
  {{end}}
  ]
}