name: Create new osctrl release

on:
  push:
    branches: [main]
    # Publish semver tags as releases.
    tags: ["v*.*.*"]

permissions:
  contents: read
  id-token: write

env:
  GOLANG_VERSION: 1.25.4
  OSQUERY_VERSION: 5.20.0

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        components: ["tls", "admin", "api", "cli"]
        goos: ["linux", "darwin", "windows"]
        goarch: ["amd64", "arm64"]
    steps:
      ########################### Checkout code ###########################
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2

      ########################### Generate SHA1 commit hash ###########################
      # https://newbedev.com/getting-current-branch-and-commit-hash-in-github-action
      - name: Declare GIT hash and branch
        id: vars
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      ########################### Build osctrl ###########################
      - name: Build osctrl binaries
        # Build all osctrl components for linux for all archs
        # Build all osctrl components for darwin for all archs
        # Build osctrl cli for windows for all archs
        if: matrix.goos == 'linux' || matrix.goos == 'darwin' || (matrix.goos == 'windows' && matrix.components == 'cli')
        uses: ./.github/actions/build/binaries
        with:
          go_os: "${{ matrix.goos }}"
          go_arch: "${{ matrix.goarch }}"
          osctrl_component: "${{ matrix.components }}"
          commit_sha: "${{ steps.vars.outputs.sha_short }}"
          commit_branch: "${{ steps.vars.outputs.branch }}"
          golang_version: "${{ env.GOLANG_VERSION }}"

      ########################### Test binaries ###########################
      # - name: Run tests
      #   id: bin_tests
      #   uses: .github/actions/test/binaries
      #   with:
      #     go_os: "${{ matrix.goos }}"
      #     go_arch: "${{ matrix.goarch }}"
      #     osctrl_component: "${{ matrix.components }}"
      #     commit_sha: "${{ steps.vars.outputs.sha_short }}"
      #     commit_branch: "${{ steps.vars.outputs.branch }}"
      #     golang_version: "${{ env.GOLANG_VERSION }}"

  create_deb_packages:
    needs: [build_and_test]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        components: ["tls", "admin", "api"]
        goos: ["linux"]
        goarch: ["amd64", "arm64"]
    steps:
      ########################### Checkout code ###########################
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2

      ########################### Generate SHA1 commit hash ###########################
      # https://newbedev.com/getting-current-branch-and-commit-hash-in-github-action
      - name: Declare GIT hash and branch
        id: vars
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "branch=$(echo ${GITHUB_REF_NAME})" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      ########################### Build DEB packages ###########################
      - name: Build osctrl DEB packages
        uses: ./.github/actions/build/dpkg
        with:
          go_os: ${{ matrix.goos }}
          go_arch: ${{ matrix.goarch }}
          osctrl_component: ${{ matrix.components }}
          commit_sha: ${{ steps.vars.outputs.sha_short }}
          osquery_version: ${{ env.OSQUERY_VERSION }}
          release_version_tag: ${{ steps.vars.outputs.RELEASE_VERSION }}

  create_docker_images:
    needs: [build_and_test]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        components: ["tls", "admin", "api", "cli"]
        goos: ["linux"]
        goarch: ["amd64", "arm64"]
    steps:
      ########################### Checkout code ###########################
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2

      ########################### Generate SHA1 commit hash ###########################
      # https://newbedev.com/getting-current-branch-and-commit-hash-in-github-action
      - name: Declare GIT hash and branch
        id: vars
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      ########################### Build Docker containers ###########################
      - name: Build and deploy osctrl Docker containers
        uses: ./.github/actions/build/docker
        id: build_docker_containers
        with:
          #### golang env vars ####
          go_os: ${{ matrix.goos }}
          go_arch: ${{ matrix.goarch }}
          #### Build vars ####
          osctrl_component: ${{ matrix.components }}
          commit_sha: ${{ steps.vars.outputs.sha_short }}
          #### Dockerhub creds ####
          docker_hub_org: ${{ secrets.DOCKER_HUB_ORG }}
          docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
          docker_hub_access_token: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

  push_docker_images:
    needs: [create_docker_images]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        components: ["tls", "admin", "api", "cli"]
    steps:
      ########################### Checkout code ###########################
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2

      ########################### Get digests from build ###########################
      - name: Download digests
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          pattern: digests-osctrl-${{ matrix.components }}-*
          merge-multiple: true
          path: /tmp/digests

      ########################### Setup Docker ###########################
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@af1b253b8dc984466d22633f04ef341c1520ed2f # v3.11.1

      ########################### Add meta data for containers ###########################
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ secrets.DOCKER_HUB_ORG }}/osctrl-${{ matrix.components }}
          labels: |
            org.opencontainers.image.title=osctrl-${{ matrix.components }}
          tags: |
            type=sha,prefix=,format=short
            type=match,pattern=v(.*),group=1

      ########################### Log into Dockerhub ###########################
      - name: Login to Docker Hub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      ########################### Create and push images ###########################
      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ secrets.DOCKER_HUB_ORG }}/osctrl-${{ matrix.components }}@sha256:%s ' *)

      ########################### Generate image tags and digests ###########################
      - name: Export digests and tags for cosign
        id: docker_vars
        working-directory: /tmp/digests
        run: |
          echo "digests=$(printf '%s ' *)" >> $GITHUB_OUTPUT
          echo "tags=$(jq -cr '.tags | map(\"-t \" + .) | join(\" \")' <<< \"$DOCKER_METADATA_OUTPUT_JSON\")" >> $GITHUB_OUTPUT

      ########################### Sign Docker images ###########################
      - name: Sign osctrl Docker containers
        uses: ./.github/actions/tagged_release/docker/codesign
        with:
          #### Docker vars ####
          osctrl_component: ${{ matrix.components }}
          docker_tags: ${{ steps.meta.outputs.tags }}
          docker_image_digests: ${{ steps.docker_vars.outputs.digests }}
          #### Dockerhub creds ####
          docker_hub_org: ${{ secrets.DOCKER_HUB_ORG }}
          docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
          docker_hub_access_token: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      ########################### Inspect new image ###########################
      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ secrets.DOCKER_HUB_ORG }}/osctrl-${{ matrix.components }}:${{ steps.meta.outputs.version }}

  create_github_release:
    needs: [build_and_test, create_deb_packages, push_docker_images]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      ########################### Checkout code ###########################
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2

      ########################### Generate SHA1 commit hash ###########################
      - name: Declare GIT hash and branch
        id: vars
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      ########################### Create release ###########################
      - name: Create a new GitHub release
        uses: ./.github/actions/tagged_release/github
        with:
          # Assuming the action can be called without component to just create the release
          # If not, modify the action to support a 'create_only' mode
          create_only: true
          release_version_tag: "${{ steps.vars.outputs.RELEASE_VERSION }}"

  upload_release_assets:
    needs: [create_github_release]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    strategy:
      matrix:
        components: ["tls", "admin", "api", "cli"]
        goos: ["linux", "darwin", "windows"]
        goarch: ["amd64", "arm64"]
        exclude:
          - goos: "windows"
            components: "tls"
          - goos: "windows"
            components: "admin"
          - goos: "windows"
            components: "api"
    steps:
      ########################### Checkout code ###########################
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2

      ########################### Generate SHA1 commit hash ###########################
      - name: Declare GIT hash and branch
        id: vars
        shell: bash
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      ########################### Download binaries ###########################
      - name: Download binaries
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: osctrl-${{ matrix.components }}-${{ steps.vars.outputs.sha_short }}-${{ matrix.goos }}-${{ matrix.goarch }}.bin

      ########################### Upload release assets ###########################
      - name: Upload release assets
        uses: ./.github/actions/tagged_release/github
        with:
          go_os: "${{ matrix.goos }}"
          go_arch: "${{ matrix.goarch }}"
          osctrl_component: "${{ matrix.components }}"
          commit_sha: "${{ steps.vars.outputs.sha_short }}"
          release_version_tag: "${{ steps.vars.outputs.RELEASE_VERSION }}"
          upload_only: true # Assuming the action supports this mode
